<h3>Um novo varejista se cadastrou em nosso site!</h3>
<p>
As informações estão abaixo.</p>
<p>
	<strong>Nome: </strong><?php echo $dados['Retailer']['name'] ?><br>
	<strong>E-mail: </strong><?php echo $dados['Retailer']['email'] ?><br />
	<strong>Telefone: </strong><?php echo $dados['Retailer']['phone'] ?> <br />
	<strong>Endereço: </strong><?php echo $dados['Retailer']['address'] ?> <br />
	<strong>Cidade / UF: </strong><?php echo $dados['Retailer']['city'] ?> <br />
</p>
<hr>
<p>
<a href="http://www.serramar.coop.br">Serramar Latcínios</a>
</p>