De: <? echo $data["User"]["nome"]?> ( <? echo $data["User"]["email"]?>)<br>
Telefone: <? echo $data["User"]["tel"]?><br><br>
Cidade: <? echo $data["User"]["cidade"]?><br><br>
Assunto: <? echo $data["User"]["assunto"] ?><br><br>
Mensagem:<br>
<p><? echo $data["User"]["mensagem"] ?> </p>