<div class="rows">
	<?php
	$img = $this->webroot .'files'.DS.'farm'.DS.'picture'.DS.$farm['Farm']['path_picture'].DS.'medium_'.$farm['Farm']['picture'];
	 ?>
	<a href="javascript:void(0);" class="cols figure"><img src="<?=$img;?>" alt=""></a>
	<div class="cols">
		<h2>
			<?php echo $farm['Farm']['title'];?>
		</h2>
		<?php echo $farm['Farm']['body'];?>
	</div>
</div>