/* clear */

.clear:after {
  display: block;
  height: 0;
  clear: both;
  line-height: 0;
  content: ".";
  visibility: hidden;
}

.clear {
  display: inline-block;
}

html[xmlns] .clear {
  display: block;
}

* html .clear {
  height: 1%;
}

blockquote {
  border: 0;
}

/* Styles */

a {
  /* Links */

}

a:link,
a:active,
a:visited,
a:hover {
  color: #373435;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  padding: 0;
  margin: 0;
  overflow-y: visible;
  font-family: Arial;
}

i {
  display: block;
  min-width: 10px;
  min-height: 10px;
}

i.facebook,
a.face,
a.yt,
i.twitter,
i.youtube {
  width: 32px;
  height: 32px;
}

i.facebook {
  background: transparent url(../img/icon_face.png) no-repeat;
}

a.face {
  background: transparent url(../img/icon-facebook.png) no-repeat;
}

i.twitter {
  background: transparent url(../img/icon_twitter.png) no-repeat;
}

i.youtube {
  background: transparent url(../img/icon_youtube.png) no-repeat;
}

a.yt {
  background: transparent url(../img/icon-yt.png) no-repeat;
}

.overflow {
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}

.hide {
  display: none;
}

.show {
  display: none;
  visibility: visible;
}

.preload {
  background: #02426e;
}

.btn-leia {
  display: block;
  width: 29px;
  height: 31px;
  overflow: hidden;
  background: transparent url(../img/btn_leia_mais.png) no-repeat;
}

.btn-leia.max {
  width: 70px;
  height: 70px;
  background: transparent url(../img/btn_leia_mais_max.png) no-repeat;
}

.btn-like {
  display: block;
  width: 68px;
  height: 22px;
  overflow: hidden;
  background: transparent url(../img/btn_like.png) no-repeat;
}

.btn-tweet {
  display: block;
  width: 70px;
  height: 22px;
  overflow: hidden;
  background: transparent url(../img/btn_tweet.png) no-repeat;
}

.btn-cadastrar {
  padding: 10px 15px;
  font: bold 24px 'PT Sans';
  letter-spacing: -1px;
  color: white;
  background-color: #bede1f;
  border: 0;
  outline: 0;
}

.loading {
  display: block;
  width: 170px;
  height: auto;
  padding: 90px 0 0;
  margin: 200px auto 0;
  font: normal 12px 'PT Sans';
  text-indent: -5px;
  text-transform: uppercase;
  background-image: url(../img/bottle-milk.gif);
  background-position: center middle;
  background-repeat: no-repeat;
}

.field-group {
  position: relative;
  width: 215px;
  border: 1px solid silver;
}

.field-group,
.field-group .btn {
  height: 35px;
  background-color: white;
}

.field-group .field {
  position: absolute;
  top: 0;
  left: 0;
  width: 185px;
  height: 24px;
  border: 0;
}

.field-group .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  background-color: #b3d81a;
}

.field-group .btn span {
  margin: 6px -3px;
}

.seta {
  position: absolute;
  z-index: 5;
  display: block;
  width: 14px;
  height: 22px;
  background-color: transparent;
  background-repeat: no-repeat;
}

.seta.prev,
.seta.next {
  width: 14px;
}

.seta.prev {
  left: 0;
}

.seta.next {
  right: 0;
}

.seta.prev {
  background-image: url(../img/seta_prev_black.png);
}

.seta.next {
  background-image: url(../img/seta_next_black.png);
}

.seta.blue.prev {
  background-image: url(../img/seta_prev_blue.png);
}

.seta.blue.next {
  background-image: url(../img/seta_next_blue.png);
}

.seta.white.prev {
  background-image: url(../img/seta_prev_white.png);
}

.seta.white.next {
  background-image: url(../img/seta_next_white.png);
}

.seta.brown.prev {
  background-image: url(../img/seta_prev_brown.png);
}

.seta.brown.next {
  background-image: url(../img/seta_next_brown.png);
}

.slideshow {
  position: relative;
  width: 100%;
  height: auto;
}

.slideshow .prev,
.slideshow .next {
  position: absolute;
}

.slideshow ul,
.slideshow ul li {
  display: block;
}

.slideshow ul {
  width: 100%;
  height: 100%;
  clear: both;
}

.slideshow ul li {
  float: left;
  min-width: 10px;
  min-height: 10px;
}

.form-horizontal {
  position: relative;
  width: 402px;
  height: 110px;
  clear: both;
}

.form-horizontal input {
  float: right;
  width: 280px;
  height: 35px;
  padding: 0;
  margin: 0 0 3px 0;
  background-color: white;
  border: 0;
  border-radius: 0;
  outline: 0;
}

.form-horizontal label {
  display: block;
  float: left;
  width: 101px;
  height: 23px;
  padding: 13px 13px 0 0;
  margin: 0;
  font: bold 11px 'PT Sans';
  text-align: right;
}

.form-horizontal button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px 15px;
  font: normal 11px 'PT Sans';
  color: white;
  background-color: #4a351c;
  border: 0;
  outline: 0;
}

.form-vertical,
.form-vertical .control-group,
.form-vertical .control-label,
.form-vertical .controls {
  width: 370px;
}

.form-vertical label {
  font: normal 11px/13px 'PT Sans';
}

.form-vertical input,
.form-vertical textarea {
  float: right;
  width: 280px;
  width: 370px;
  height: 35px;
  padding: 0;
  margin: 0 0 3px 0;
  margin: 0 0 5px;
  background-color: white;
  border: 0;
  border-radius: 0;
  outline: 0;
}

.form-vertical textarea {
  height: 190px;
}

.form-vertical button {
  padding: 10px 20px;
  margin: 0 0 0 130px;
  font: bold 26px 'PT Sans';
  letter-spacing: -2px;
  color: #1e55a3;
  background-color: #ffc600;
  border: 0;
}

.area,
.area .container {
  width: 420px;
}

.area > p,
.area > h3 {
  text-align: right;
}

.area .container {
  padding: 15px 0 15px 15px;
  border: 3px solid white;
}

.area .container p {
  font: normal 11px 'PT Sans';
  color: black;
  text-align: center;
}

.carousel .carousel-control {
  z-index: 1;
}

.carousel .seta {
  z-index: 1;
}

#menu-nav {
  position: fixed;
  top: 40%;
  right: 10px;
  z-index: 2;
}

#menu-nav li {
  position: relative;
  float: none;
  margin: 10px 0;
}

#menu-nav li span {
  position: absolute;
  top: -10px;
  right: 30px;
  display: none;
  width: auto;
  height: 30px;
  padding: 0 6px;
  margin: 0 0px 0px -160px;
  font: normal 12px/33px 'PT Sans';
  text-align: right;
  text-transform: uppercase;
  background-color: #ccc;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

#menu-nav li a {
  display: block;
  width: 10px;
  height: 10px;
  text-indent: -8888px;
  background-color: silver;
  border: 5px solid white;
  border-radius: 15px;
}

#menu-nav li:nth-child(1) span,
#menu-nav li:nth-child(1) a {
  color: black;
  text-shadow: 1px 1px 1px white;
  background-color: white;
}

#menu-nav li:nth-child(2) span,
#menu-nav li:nth-child(2) a {
  color: black;
  text-shadow: 1px 1px 1px white;
  background-color: #00F000;
}

#menu-nav li:nth-child(3) span,
#menu-nav li:nth-child(3) a {
  color: white;
  text-shadow: 1px 1px 1px black;
  background-color: #CC2229;
}

#menu-nav li:nth-child(4) span,
#menu-nav li:nth-child(4) a {
  color: white;
  text-shadow: 1px 1px 1px black;
  background-color: #8D6734;
}

#menu-nav li:nth-child(5) span,
#menu-nav li:nth-child(5) a {
  color: white;
  text-shadow: 1px 1px 1px black;
  background-color: #FF6C00;
}

#menu-nav li:nth-child(6) span,
#menu-nav li:nth-child(6) a {
  color: white;
  text-shadow: 1px 1px 1px black;
  background-color: #0080FF;
}

#menu-nav li:hover span {
  display: block;
}

.produto {
  float: left;
  margin: 0 10px;
}

.produto figure,
.produto .info {
  float: left;
}

.produto figure {
  width: 197px;
  height: 222px;
  margin: 0;
  overflow: hidden;
  border: 1px solid #b3d81a;
}

.produto figure img {
  width: 100%;
}

.produto h3 {
  float: left;
  font: bold 26px 'PT Sans';
  color: #ff6000;
}

.produto h4 {
  float: right;
  font: normal 17px 'PT Sans';
  color: #b3d81a;
}

.produto .info {
  margin: 0 0 50px 0;
}

.produto .info > .rows {
  width: 242px;
  height: 27px;
}

.produto table {
  width: 242px;
}

.produto table td {
  padding: 3px;
  font: normal 17px 'PT Sans';
  color: black;
}

.produto table .desc {
  font-weight: bold;
}

.produto table tr:nth-child(odd) {
  background-color: #f3ffc6;
}

.produto table tr:nth-child(even) {
  background-color: white;
}

.produto.produto-box {
  width: 215px;
  height: 250px;
  margin-top: 50px;
}

.produto.produto-box figure,
.produto.produto-box .info {
  float: none;
}

.produto.produto-box h3,
.produto.produto-box h4,
.produto.produto-box .title {
  display: block;
  float: none;
  min-height: 42px;
  padding-top: 10px;
  font: bold 16px 'PT Sans';
  color: #ff6000;
  border-top: 1px solid #E5E5E5;
}

.produto.produto-box figure {
  width: 192px;
  height: 202px;
  padding: 10px;
  margin: 10px 0 0 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.produto.produto-box figure img {
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.produto.produto-box figure:hover {
  border: 1px solid rgba(255, 165, 0, 0.2);
}

.produto.produto-box figure:active {
  border: 1px solid rgba(255, 165, 0, 0.4);
}

.produto.produto-box figure:visited {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.produto.produto-box .info {
  margin: 0;
}

.jornal {
  width: 325px;
  margin: 25px 0 0 60px;
}

.jornal h3,
.jornal p {
  color: white;
  text-align: center;
}

.jornal .carousel {
  width: 280px;
  height: 110px;
  margin: 0 0 0 20px;
}

.jornal .carousel-inner ul {
  margin: 0 10px 0 20px;
}

.jornal .carousel-inner li {
  float: left;
  width: 30%;
  height: auto;
  margin: 0;
}

.jornal .carousel-inner li + li {
  margin-left: 5%;
}

.jornal .carousel-inner img {
  width: 100%;
  height: auto;
}

.jornal .carousel-inner p {
  margin-top: 10px;
  color: #fff !important;
  text-align: center;
}

.jornal .seta {
  top: 40px;
  width: 14px;
}

.jornal.jornal-max {
  width: 900px;
  margin: 0 auto;
}

.jornal.jornal-max .carousel-inner {
  width: 95%;
  margin: 0 auto;
}

.jornal.jornal-max .carousel {
  width: 810px;
  height: auto;
  margin-top: 20px;
}

.jornal.jornal-max li {
  width: 150px;
  height: auto;
}

.jornal.jornal-max li + li {
  margin-left: 45px;
}

.jornal.jornal-max p {
  color: #000 !important;
}

.corpo {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 1000px;
  background-attachment: scroll;
  background-color: white;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover cover;
}

.corpo .container {
  width: 940px;
  min-height: 1px;
  margin: 0 auto;
}

.corpo .container header {
  height: 75px;
  margin: 0 auto;
}

.corpo .container header span {
  display: block;
  width: 167px;
  padding: 13px 0 14px 23px;
  margin: 0 auto;
  font: bold 39px 'PT Sans';
  letter-spacing: -3px;
  color: white;
  background-color: gray;
}

.corpo .container .content {
  margin: 80px 0 0 0;
}

#main-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

#main-menu ul {
  width: 940px;
  height: 130px;
  margin: 0 auto;
}

#main-menu ul li a:hover {
  background-color: transparent;
}

#main-menu ul li a {
  padding: 8px 33px;
  font: normal 15px 'PT Sans';
  color: white;
}

#main-menu ul li.logo a {
  padding: 0;
  margin: 0;
}

#main-menu ul li.logo a img {
  height: 130px;
}

#gotas {
  position: absolute;
  top: 400px;
}

#mbox {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  height: 650px;
  background-attachment: scroll;
  background-position: 50% 0;
}

#carousel-nav {
  position: absolute;
  bottom: 20px;
  left: 465px;
  clear: both;
}

#carousel-nav li,
#carousel-nav a {
  height: 30px;
}

#carousel-nav li {
  float: left;
}

#carousel-nav li a {
  width: 30px;
}

#carousel-nav li a {
  display: block;
  overflow: hidden;
  background: transparent url(../img/icon_lista_slideshow.png ) no-repeat;
}

#carousel-nav li .active {
  background: transparent url(../img/icon_lista_slideshow_active.png ) no-repeat;
}

/* Footer, #footer */

body > footer {
  padding: 10px 0;
  margin: 100px auto 0 auto;
  background-color: #e1bc23;
}

body > footer .span8 {
  float: left;
  margin: 10px 0 0 0;
}

body > footer .span8 > a {
  padding: 0 10px;
  margin: 20px 0;
  font: bold 13px 'PT Sans';
  color: white;
  border-right: 2px solid white;
}

body > footer .span4 {
  float: right;
  width: 130px;
}

body > footer .span4 .social {
  float: left;
  clear: both;
}

body > footer .span4 .social a {
  float: left;
  margin: 0 5px;
}

header.corpo {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  background-attachment: scroll;
  background-image: url(../img/bg_home_header.jpg);
  background-position: center top;
}

header.corpo .wrap {
  position: relative;
  z-index: 1;
  width: 1000px;
  height: auto;
  margin: 0 auto;
}

header.corpo .wrap .container {
  position: relative;
  width: 1000px;
}

header.corpo .wrap .container .social {
  position: absolute;
  top: 80px;
  left: 27px;
  z-index: 1;
  width: 136px;
  height: 92px;
}

header.corpo .wrap .container .social.right {
  right: 30px;
}

header.corpo .wrap .container .social .facebook,
header.corpo .wrap .container .social .youtube {
  display: block;
  float: left;
  width: 68px;
  height: 92px;
  overflow: hidden;
}

header.corpo .wrap .container .social .facebook {
  background: transparent url(../img/icon_facebook_min.png ) no-repeat;
}

header.corpo .wrap .container .social .youtube {
  background: transparent url(../img/icon_youtube_min.png ) no-repeat;
}

header.corpo .wrap .container .sub-title {
  position: absolute;
  top: 386px;
  right: 91px;
  width: 225px;
  padding: 20px 40px;
  font: normal 11px 'PT Sans';
  color: white;
  text-align: right;
  text-shadow: 0 0px 5px black;
  background: url(../img/bg_sub_titulo.png ) no-repeat;
  background-position: -10px 0;
  background-size: 320px 90px;
}

header.corpo .animation {
  position: absolute;
  bottom: 25px;
  width: 100%;
  height: 180px;
  overflow: hidden;
}

header.corpo .animation img {
  width: 1920px;
  height: 180px;
}

#main {
  top: -80px;
  z-index: 1;
  background-color: transparent;
}

#main .container .rows .blog {
  position: relative;
  height: 303px;
  margin: 0 0 40px 30px;
}

#main .container .rows .blog header {
  width: 868px;
  height: 41px;
  margin: 0;
}

#main .container .rows .blog header h3 {
  width: 45px;
  padding: 10px 15px;
  font: bold 17px 'PT Sans';
  color: white;
  text-transform: uppercase;
  background-color: #233e5d;
}

#main .container .rows .blog .carousel {
  position: absolute;
  top: 41px;
  left: 0;
  height: 262px;
  padding: 0 20px 0 0;
  margin: 0;
}

#main .container .rows .blog .carousel .seta {
  top: 150px;
}

#main .container .rows .blog .carousel .seta.prev {
  left: -30px;
}

#main .container .rows .blog .carousel .seta.next {
  right: -60px;
}

#main .container .rows .blog .carousel,
#main .container .rows .blog .carousel .carousel-inner {
  width: 868px;
}

#main .container .rows .blog .carousel .carousel-inner,
#main .container .rows .blog .carousel .carousel-inner article {
  height: 262px;
}

#main .container .rows .blog .carousel .carousel-inner {
  position: absolute;
  margin: 0;
}

#main .container .rows .blog .carousel .carousel-inner,
#main .container .rows .blog .carousel .carousel-inner .item {
  width: 868px;
  height: 262px;
}

#main .container .rows .blog .carousel .carousel-inner .item {
  clear: both;
}

#main .container .rows .blog .carousel .carousel-inner article {
  position: relative;
  float: left;
}

#main .container .rows .blog .carousel .carousel-inner article,
#main .container .rows .blog .carousel .carousel-inner article figure {
  width: 217px;
}

#main .container .rows .blog .carousel .carousel-inner article h2 {
  padding: 0 17px;
  font: bold 17px/29px 'PT Sans';
}

#main .container .rows .blog .carousel .carousel-inner article figure,
#main .container .rows .blog .carousel .carousel-inner article figure a {
  display: block;
  overflow: hidden;
}

#main .container .rows .blog .carousel .carousel-inner article figure,
#main .container .rows .blog .carousel .carousel-inner article figure a,
#main .container .rows .blog .carousel .carousel-inner article figure img {
  height: 130px;
  margin: 0 auto;
}

#main .container .rows .blog .carousel .carousel-inner article .text {
  width: 161px;
  padding: 17px 28px;
}

#main .container .rows .blog .carousel .carousel-inner article .text,
#main .container .rows .blog .carousel .carousel-inner article .text p {
  font: normal 11px/15px 'PT Sans';
}

#main .container .rows .blog .carousel .carousel-inner article .text .leia {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 29px;
  height: 31px;
  background: transparent url(../img/btn_leia_mais.png ) no-repeat;
}

#main .container .rows .blog .pink {
  background-color: #c8647c;
}

#main .container .rows .blog .green {
  background-color: #b9d453;
}

#main .container .rows .blog .blue {
  background-color: #83bbdb;
}

#main .container .rows .blog .orange {
  background-color: #e58f2b;
}

#main .container .rows .blog .orange2 {
  background-color: #f0a130;
}

#main .container .rows .blog .yellow {
  background-color: #edc600;
}

#main .container .rows .span6 {
  padding: 0;
  margin: 0 25px 40px;
}

#main .container .rows .span6,
#main .container .rows .span6 header,
#main .container .rows .span6 figure,
#main .container .rows .span6 aside {
  width: 420px;
}

#main .container .rows .span6 header,
#main .container .rows .span6 figure,
#main .container .rows .span6 aside {
  margin: 10px 0;
}

#main .container .rows .span6 header {
  position: static;
  height: auto;
  padding: 0;
  margin: 0;
}

#main .container .rows .span6 header h4 {
  margin: 0 auto;
  font: bold 17px/25px 'PT Sans';
  color: black;
  text-align: center;
}

#main .container .rows .span6 figure,
#main .container .rows .span6 figure a {
  width: 420px;
  height: 120px;
  overflow: hidden;
}

#main .container .rows .span6 aside {
  font: normal 11px 'PT Sans';
}

#main .container .rows .span6 aside p {
  text-align: center;
}

#main .container .rows .span6 > .content {
  margin: 10px 0 0 0;
}

#main .container .rows.posts {
  height: 303px;
  margin: 0 0 40px;
  overflow: hidden;
}

#historia {
  height: 735px;
  background-image: url(../img/bg_historia.jpg );
}

#historia .rows {
  width: 837px;
  padding: 85px 30px 0 73px;
}

#historia .rows .logo {
  width: 320px;
  height: 295px;
  margin: 0 50px 0 0;
}

#historia .rows .logo img {
  width: 320px;
  height: auto;
}

#historia .rows .tabs {
  width: 465px;
  height: auto;
  margin: 0;
}

#historia .rows .tabs blockquote {
  margin: 0 0 10px;
}

#historia .rows .tabs ul {
  width: 465px;
  height: 42px;
  margin: 0 0 30px 0;
  border: 0;
}

#historia .rows .tabs ul li {
  height: 42px;
}

#historia .rows .tabs ul li a {
  display: block;
  padding: 10px;
  margin: 0;
  font: bold 18px 'PT Sans';
  color: black;
  text-transform: uppercase;
  border: 0;
  -moz-border-radius: 0;
       border-radius: 0;
  webkit-border-radius: 0;
}

#historia .rows .tabs ul .blue a {
  background-color: #61acec;
}

#historia .rows .tabs ul .yellow a {
  background-color: #fbf239;
}

#historia .rows .tabs ul .dark-blue a {
  color: white;
  background-color: #32348e;
}

#historia .rows .tabs .content {
  font: normal 12px/18px 'PT Sans';
  color: black;
}

/* #historia */

#produtos {
  height: 730px;
  background-image: url(../img/bg_produtos.jpg );
  background-repeat: repeat-x;
}

#produtos .container {
  width: 867px;
}

#produtos .container header {
  height: 75px;
  margin: 0 auto;
}

#produtos .container header span {
  display: block;
  width: 167px;
  margin: 0 auto;
  font: bold 39px 'PT Sans';
  letter-spacing: -3px;
  color: white;
  background-color: #cc2229;
}

#produtos .container .content {
  padding: 0;
}

#produtos .container .content .span4 {
  width: 235px;
  margin: 0 20px;
}

#produtos .container .content > article {
  position: relative;
  height: auto;
}

#produtos .container .content > article .seta.prev {
  left: 0;
}

#produtos .container .content > article .seta.prev,
#produtos .container .content > article .seta.next {
  top: 280px;
}

#produtos .container .content > article .logo,
#produtos .container .content > article img {
  height: 100px;
}

#produtos .container .content > article .logo {
  margin: 0 0 20px 0;
}

#produtos .container .content > article .logo img {
  margin: 0 auto;
}

#produtos .container .content > article .content,
#produtos .container .content > article .content li {
  display: block;
  height: 350px;
}

#produtos .container .content > article .carousel-inner .item > .figure {
  display: block;
  width: 195px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
}

#produtos .container .content > article .carousel-inner .item > .figure img {
  display: block;
  height: 200px;
  margin: 0 auto;
}

#produtos .container .content > article .carousel-inner .item p {
  height: 120px;
  font: normal 12px 'PT Sans';
}

#produtos .container .content article.serramar .logo img {
  margin: 0 0 0 75px;
}

#produtos .container .content article.mix .logo img {
  margin: 0 0 0 60px;
}

#produtos .container .content article.maringa .logo img {
  height: 100px;
  margin: 0 0 0 80px;
}

/* #produtos */

#cooperativa {
  height: 720px;
  background-image: url(../img/bg_cooperativa.jpg );
  background-size: cover;
}

#cooperativa .container {
  width: 1000px;
}

#cooperativa .container header span {
  width: 213px;
  background-color: #4a361b;
}

#cooperativa .container .span6 h3 {
  font: bold 33px 'PT Sans';
  color: #4a351c;
}

#cooperativa .container .span6 p {
  font: normal 11px 'PT Sans';
  color: black;
}

#cooperativa .container .span6 .rows h3,
#cooperativa .container .span6 .rows p {
  text-align: center;
}

#cooperativa .container .span6 .posts,
#cooperativa .container .span6 .posts li,
#cooperativa .container .span6 .posts .figure {
  display: block;
}

#cooperativa .container .span6 .posts {
  height: 200px;
  margin: 0;
}

#cooperativa .container .span6 .posts li {
  height: 90px;
  margin: 0 0 20px 0;
}

#cooperativa .container .span6 .posts li .span1,
#cooperativa .container .span6 .posts li .span2 {
  margin: 0;
}

#cooperativa .container .span6 .posts li .span2 {
  width: 196px;
  height: 75px;
}

#cooperativa .container .span6 .posts li .figure {
  width: 114px;
  height: 90px;
  overflow: hidden;
}

#cooperativa .container .span6 .posts li .figure img {
  height: 90px;
}

#cooperativa .container .span6 .posts li aside {
  position: relative;
  padding: 15px 15px 0 15px;
}

#cooperativa .container .span6 .posts li aside p {
  font: normal 12px 'PT Sans';
  color: white;
  text-align: left;
}

#cooperativa .container .span6 .posts li aside .btn-leia {
  position: absolute;
  right: 0;
  bottom: 0;
}

#cooperativa .container .span6 .posts .dark {
  background-color: #211c19;
}

#cooperativa .container .span6 .posts .light {
  background-color: #4a351c;
}

#cooperativa .container .span6 .fazenda {
  width: 340px;
}

#cooperativa .container .span6 .produtor {
  display: none;
  width: 440px;
}

#cooperativa .container .span6 .produtor h3 {
  text-align: center;
}

#cooperativa .container .span6 .produtor .container {
  width: 420px;
}

#cooperativa .container .span6 .produtor .container p,
#cooperativa .container .span6 .produtor .container label {
  color: #4A361B;
}

#cooperativa .container .span6 .produtor .container p:first-child {
  font-weight: bold;
}

#cooperativa .container .span6 .jornal {
  width: 335px;
}

#cooperativa .container .span6 .jornal h3,
#cooperativa .container .span6 .jornal p {
  color: #4A361B;
}

#cooperativa .rows.jornal > h3,
#cooperativa .rows.jornal > p {
  color: white;
}

/* #cooperativa */

#varejistas {
  height: 725px;
  background-image: url(../img/bg_varejistas.jpg );
}

#varejistas .container {
  width: 1000px;
}

#varejistas .container header.rows {
  height: 45px;
}

#varejistas .container header.rows span {
  background-color: #ff6c00;
}

#varejistas .container .content {
  position: relative;
  height: 600px;
}

#varejistas .container .content .personagens {
  position: absolute;
  bottom: -20px;
  left: 210px;
}

#varejistas .container .content .span6.cadastrar {
  width: 340px;
  margin: 0 100px 0 0;
}

#varejistas .container .content .span6.cadastrar figure {
  display: block;
  width: 340px;
  height: 210px;
  margin: 0;
  overflow: hidden;
}

#varejistas .container .content .span6.cadastrar article {
  width: 340px;
  height: 395px;
  color: white;
  background: transparent url(../img/bg_cadastrar.png ) no-repeat;
}

#varejistas .container .content .span6.cadastrar article p {
  padding: 25px;
}

#varejistas .container .content .span6.cadastrar article .btn-cadastrar {
  margin: 0 0 0 25px;
}

#varejistas .container .content .span6.restrito {
  display: none;
  width: 441px;
}

#varejistas .container .content .span6.restrito .container {
  width: 420px;
  background-color: #b4d91a;
}

#varejistas .container .content .span6.restrito .container .form-horizontal button {
  background-color: #ff8100;
}

#varejistas .container .content .span6.cadastre-se {
  width: 441px;
}

#varejistas .container .content .span6.cadastre-se .container {
  width: 420px;
  background-color: #b4d91a;
}

#varejistas .container .content .span6.cadastre-se .form-horizontal {
  display: block;
  height: 195px;
  clear: both;
  line-height: 30px;
}

#varejistas .container .content .span6.cadastre-se .form-horizontal input {
  height: 30px;
}

#varejistas .container .content .span6.cadastre-se .form-horizontal label {
  padding-top: 10px;
}

#varejistas .container .content .span6.cadastre-se button {
  background-color: #ff8100;
}

/* #varejistas */

#contato {
  height: 100%;
  background-image: url(../img/bg_contato.jpg );
}

#contato .container {
  color: white;
}

#contato .container figure {
  position: relative;
  top: -50px;
  width: 315px;
  height: 220px;
  margin: 0 auto;
}

#contato .container .content {
  height: 500px;
  margin: 150px 0 0 0;
}

#contato .container .content .span6 {
  width: 370px;
}

#contato .container .content .span6 h3,
#contato .container .content .span6 p {
  margin: 15px 0;
}

#contato .container .content .span6 h3 {
  font: bold 40px 'PT Sans';
}

#contato .container .content .span6 p {
  font-size: 12px;
  line-height: 19px;
}

#contato .container .content .span6 .social {
  width: 120px;
  height: 32px;
  clear: both;
}

#contato .container .content .span6 .social a {
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  margin: 0 5px 0 0;
  overflow: hidden;
}

#contato .container .content .span6.fale {
  margin: 0 100px 0 0;
}

/* #contato */

/* Páginas internas */

body.interna header.corpo {
  background-attachment: scroll;
}

body.interna > .container {
  margin: 0 auto 0 auto;
}

body.interna > .container .rows h3 {
  margin: 0 0 20px 0;
  font: bold 36px 'PT Sans';
}

body.produtos header.corpo {
  height: 400px;
}

body.produtos header.corpo .wrap .container .sub-title {
  top: 215px;
}

body.produtos header.corpo .animation {
  bottom: 0;
}

body.fazendas header.corpo {
  background-image: url(../img/bg_fazendas_header.jpg);
}

body.fazendas > .container .rows {
  width: 100%;
  margin: 0 0 70px;
  clear: both;
}

body.fazendas > .container .rows,
body.fazendas > .container .rows .figure,
body.fazendas > .container .rows img {
  height: 275px;
}

body.fazendas > .container .cols {
  float: left;
  width: 420px;
  margin: 0 50px 0 0;
}

body.fazendas > .container .figure {
  display: block;
  overflow: hidden;
}

body.fazendas > .container .figure img {
  width: auto;
}

body.fazendas > .container h2 {
  margin: 0 0 25px;
  font: bold 40px/35px 'PT Sans';
  color: #31490a;
}

body.fazendas > .container p {
  font: normal 15px/20px 'PT Sans';
  color: black;
}

body.fazendas footer {
  background-color: #30470a;
}

/* Página do Cooperador */

body.cooperador header.corpo {
  background-image: url(../img/bg_cooperador_header.jpg);
}

body.cooperador header.corpo > .animation {
  bottom: 0 !important;
}

body.cooperador > .container {
  margin: 0 auto;
}

body.cooperador > .container .jornal h3,
body.cooperador > .container .jornal p {
  color: #4A351C;
}

body.cooperador .carousel .seta {
  top: 60px;
}

body.cooperador .capa {
  width: 100%;
  height: auto;
}

body.cooperador .capa,
body.cooperador .capa img {
  width: 750px;
  margin: 60px auto 0 auto;
}

body.cooperador h3.coop-title {
  text-align: center;
}

body.varejistas h3,
body.varejistas h4,
body.varejistas h5,
body.varejistas .h3,
body.varejistas .h4,
body.varejistas .h5 {
  color: #ff6000;
}

body.varejistas h3 {
  font-size: 26px;
}

body.varejistas h4 {
  font-size: 18px;
}

body.varejistas h5 {
  font-size: 16px;
}

body.varejistas button {
  padding: 10px 15px;
  font: normal 18px 'PT Sans';
  color: white;
  border: 0;
}

body.varejistas input {
  padding: 0;
  padding: 5px;
  font-size: 16px;
  color: #666;
  background-color: white;
  border: 0;
  border: 1px solid silver;
  border-radius: 0;
  outline: 0;
}

body.varejistas table {
  font: normal 18px 'PT Sans';
}

body.varejistas table .desc {
  font-weight: bold;
}

body.varejistas .h3 {
  font-size: 26px;
}

body.varejistas .h4 {
  font-size: 18px;
}

body.varejistas .h5 {
  font-size: 16px;
}

body.varejistas .btn-orange {
  background-color: #ff6000;
}

body.varejistas .btn-green {
  background-color: #b3d81a;
}

body.varejistas header.corpo {
  background-image: url(../img/bg_varejistas_header.jpg);
}

body.varejistas > .container {
  font: normal 11px 'PT Sans';
}

body.varejistas > .container .span6 {
  width: 450px;
}

body.varejistas > .container .usuario {
  float: right;
  margin: 0 0 50px 0;
  font-size: 18px;
  color: black;
}

body.varejistas > .container .catalogo p {
  margin: 10px 0;
}

body.varejistas > .container .carrinho {
  margin: 0 0 40px 0;
}

body.varejistas > .container .carrinho h4,
body.varejistas > .container .carrinho .h4 {
  color: #b3d81a;
}

body.varejistas > .container .carrinho span {
  font: normal 12px 'PT Sans';
  color: black;
}

body.varejistas > .container .carrinho button {
  margin: 2px 0;
}

body.varejistas > .container .carrinho .total,
body.varejistas > .container .carrinho .valor {
  font: bold 18px 'PT Sans';
}

body.varejistas > .container .carrinho .info {
  padding: 10px;
  border: 1px solid #b3d81a;
}

body.varejistas > .container .add {
  float: right;
  width: 400px;
  height: 100px;
}

body.varejistas > .container .add .span6,
body.varejistas > .container .add .span4 {
  margin: 0;
}

body.varejistas > .container .add .span6 {
  margin: 0 20px 0 0;
}

body.varejistas > .container .add h3 {
  margin: 0 0 30px 0;
  text-align: center;
}

body.varejistas > .container .add h4 {
  color: black;
}

body.varejistas > .container .add h4 {
  color: black;
}

body.varejistas > .container .add h5,
body.varejistas > .container .add button {
  float: left;
}

body.varejistas > .container .add .produto-add,
body.varejistas > .container .add .produto-add h5 {
  width: 215px;
}

body.varejistas > .container .add .produto-quant {
  width: 50px;
}

body.varejistas > .container .add .produto-quant,
body.varejistas > .container .add .produto-quant h5,
body.varejistas > .container .add .produto-quant input {
  width: 40px;
}

body.varejistas > .container .add .produto-quant input {
  height: 25px;
}

body.varejistas > .container .add .enviar {
  width: 102px;
  margin: 0;
}

body.varejistas > .container .add .enviar button {
  height: 37px;
  margin: 18px 0 0 0;
}

body.varejistas > .container .add .dropdown-menu {
  display: none;
  width: 213px;
  font: normal 15px 'Myriad Pro';
}

body.varejistas > .container .add .dropdown-menu a {
  background-color: white;
}

body.varejistas > .container .add .dropdown-menu a:hover {
  color: white;
  background-color: #b3d81a;
}

body.varejistas > .container .add .field-group {
  margin: 18px 0 0 0;
}

body.varejistas > .container .add .field-group .show {
  display: block;
}

body.varejistas > footer {
  background-color: #ff6000;
}

body.blog header.corpo {
  margin: 0 0 100px 0;
}

body.blog header.corpo .wrap {
  z-index: 0;
}

body.blog header.corpo #mbox {
  margin: 0 auto;
}

body.blog header.corpo #mbox,
body.blog header.corpo #mbox .content {
  width: 940px;
}

body.blog header.corpo .social {
  left: 30px;
}

body.blog .container {
  margin: 0 auto 100px auto;
}

body.blog .container .search,
body.blog .container .categorias {
  float: left;
}

body.blog .container .categorias {
  margin: 12px 0 0 0;
}

body.blog .container .categorias li {
  float: left;
  margin: 0 10px 0 0;
  font: normal 18px 'PT Sans';
}

body.blog .container .categorias li span {
  display: block;
  float: left;
  width: 15px;
  height: 15px;
  margin: 4px 5px 0 0;
  background-color: silver;
}

body.blog .container .categorias li span.pink {
  background-color: #ff7597;
}

body.blog .container .categorias li span.blue {
  background-color: #83bbdb;
}

body.blog .container .categorias li span.green {
  background-color: #b9d453;
}

body.blog .container .categorias li span.orange {
  background-color: #e58f2b;
}

body.blog .container .search {
  margin: 0 0px 50px 170px;
}

body.blog .container .search,
body.blog .container .search input {
  width: 260px;
  height: 45px;
  background-color: white;
}

body.blog .container .search label {
  display: block;
  margin: -45px 0 0px 1px;
  color: silver;
}

body.blog .container .search input {
  padding: 0;
  background-color: white;
  border: 0;
  border: 1px solid silver;
  border-radius: 0;
  outline: 0;
}

body.blog .container .search input,
body.blog .container .search label {
  font: normal 20px 'PT Sans';
}

body.blog .container .span12 {
  margin: 0;
}

body.blog .container .span12 .span8,
body.blog .container .span12 .span4 {
  margin: 0;
}

body.blog .container .span12 .span8,
body.blog .container .span12 .span8 .post,
body.blog .container .span12 .span8 header,
body.blog .container .span12 .span8 .figure,
body.blog .container .span12 .span8 .figure img {
  width: 642px;
}

body.blog .container .span12 .span8 .post {
  margin: 0 0 50px 0;
}

body.blog .container .span12 .span8 .post header,
body.blog .container .span12 .span8 .post header h2 {
  font: bold 36px/60px 'PT Sans';
  text-align: center;
}

body.blog .container .span12 .span8 .post .figure {
  display: block;
  height: 290px;
  margin: 0;
  overflow: hidden;
}

body.blog .container .span12 .span8 .post p {
  padding: 33px;
  font: normal 18px/27px 'PT Sans';
}

body.blog .container .span12 .span8 .post footer {
  position: relative;
  width: 537px;
  height: 45px;
  padding: 0 75px 13px 30px;
  clear: both;
}

body.blog .container .span12 .span8 .post footer .social,
body.blog .container .span12 .span8 .post footer .categorias {
  float: left;
}

body.blog .container .span12 .span8 .post footer .categorias {
  margin: 4px 0 0 230px;
}

body.blog .container .span12 .span8 .post footer .btn-leia {
  position: absolute;
  right: 0;
  bottom: 0;
}

body.blog .container .span12 .span8 .post .social {
  height: 22px;
  clear: both;
}

body.blog .container .span12 .span8 .post .social a {
  float: left;
  margin: 0 10px 0 0;
}

body.blog .container .span12 .span8 .post .categorias span {
  font: normal 18px/15px 'PT Sans';
}

body.blog .container .span12 .span8 .post .categorias span.categoria {
  font-weight: bold;
}

body.blog .container .span12 .span8 .post.pink {
  background-color: #ff7597;
}

body.blog .container .span12 .span8 .post.blue {
  background-color: #83bbdb;
}

body.blog .container .span12 .span8 .post.green {
  background-color: #b9d453;
}

body.blog .container .span12 .span8 .post.orange {
  background-color: #e58f2b;
}

body.blog .container .span12 .span4 {
  width: 260px;
  margin: 0 0 0 35px;
  border-left: 1px solid #274365;
}

body.blog .container .span12 .span4 header {
  width: 260px;
  padding: 10px 0;
  font: bold 30px 'PT Sans';
  color: white;
  text-align: center;
  background-color: #274365;
}

body.blog .container .span12 .span4 span,
body.blog .container .span12 .span4 ul,
body.blog .container .span12 .span4 li,
body.blog .container .span12 .span4 a {
  font: normal 18px 'PT Sans';
  color: #274365;
  text-decoration: none;
}

body.blog .container .span12 .span4 span,
body.blog .container .span12 .span4 a {
  line-height: 18px;
}

body.blog .container .span12 .span4 .rows {
  float: none;
}

body.blog .container .span12 .span4 .content {
  margin: 20px 0;
}

body.blog .container .span12 .span4 .categorias {
  margin: 0;
}

body.blog .container .span12 .span4 .categorias ul {
  margin: 0 0 0 30px;
  list-style: circle;
}

body.blog .container .span12 .span4 .categorias ul li {
  float: none;
}

body.blog .container .span12 .span4 .facebook .content {
  padding: 0 0 0 30px;
}

body.blog .container .span12 .span4 .tags .content {
  padding: 0 0 0 30px;
}

.modal {
  left: 44%;
  width: 800px;
}

.modal .modal-body {
  max-height: 600px;
}

.modal .modal-body .carousel {
  margin: 0;
}

.modal .modal-body .carousel .carousel-inner {
  height: auto;
}

.modal .modal-body .carousel .carousel-inner .item {
  width: 100%;
  clear: both;
}

.modal .modal-body figure,
.modal .modal-body table {
  float: left;
}

.modal .modal-body figure {
  display: block;
  width: 200px;
  height: auto;
  min-height: 10px;
  margin: 0 40px 0 40px;
  overflow: hidden;
}

.modal .modal-body img {
  display: block;
  margin: 0 auto;
}

.modal .modal-body table {
  width: 400px;
}

.modal .modal-body table tr td:first-child {
  width: 30%;
}

.modal .modal-body .titulo {
  font-weight: bold;
}

.modal.modal-product {
  font: normal 13px 'PT Sans';
}

.modal.modal-product .modal-body figure {
  margin: 0;
}

.modal.modal-product .modal-body table {
  width: 500px!important;
  margin-left: 15px;
}

.modal.modal-product .modal-body table table td {
  padding: 5px 10px;
  line-height: 8px;
}

.modal.modal-product .modal-body table table td:last-child {
  line-height: 15px;
}

#modal-varejistas .modal-header,
#modal-varejistas .modal-body,
#modal-varejistas .modal-footer {
  background-color: #B4D91A;
  border: 0;
  box-shadow: none;
}

#modal-varejistas .modal-header h3 {
  font: bold 39px 'PT Sans';
  letter-spacing: -3px;
}

#modal-varejistas .modal-body {
  padding: 15px 150px;
}

#modal-varejistas .btn-cadastrar {
  color: white;
  background-color: #FF8100;
}

.modal-product {
  width: 850px;
  height: 500px;
}

.modal-product .modal-header,
.modal-product .modal-body,
.modal-product .modal-footer {
  background-color: #B4D91A;
  border: 0;
  box-shadow: none;
}

.modal-product .modal-header h3 {
  font: bold 39px 'PT Sans';
  letter-spacing: -3px;
}

.modal-product .modal-body table tr:hover td {
  background-color: #B4D96A;
}

.modal-product .btn-cadastrar {
  color: white;
  background-color: #FF8100;
}

#form-varejistas input,
#form-varejistas textarea {
  border: 1px solid silver;
}

#form-varejistas .control-label {
  float: center;
  width: 107px;
}

.lancamentos {
  width: 960px !important;
  margin: 0 auto;
}

.lancamentos header {
  width: 960px;
  height: 510px;
  background: url(../img/bg-topo.jpg) no-repeat;
}

.lancamentos header .left {
  float: left;
}

.lancamentos header .social {
  top: 18px !important;
  left: 38px !important;
}

.lancamentos header .logo img {
  position: relative;
  width: 188px;
  height: 122px;
  margin: 0 auto;
  margin-left: 400px;
}

.lancamentos header .apresentacao img {
  margin-top: 3px;
}

.lancamentos #freelac {
  position: relative;
  z-index: 2;
  background: #f0a130 url(../img/freelac.png) no-repeat;
}

.lancamentos #freelac .content {
  float: right;
  margin-right: 40px;
}

.lancamentos #freelac,
.lancamentos #light {
  width: 960px;
  height: 664px;
  margin-left: -10px;
}

.lancamentos #freelac .content,
.lancamentos #light .content {
  position: relative;
  width: 486px;
}

.lancamentos #freelac .content .video,
.lancamentos #light .content .video {
  width: 100%;
  height: 363px;
  margin-top: 34px;
  margin-bottom: 25px;
  background-color: #fff;
}

.lancamentos #freelac .content .posts :nth-child(2),
.lancamentos #light .content .posts :nth-child(2) {
  position: relative;
  left: 17px;
}

.lancamentos #freelac .content .posts .thumb figure,
.lancamentos #light .content .posts .thumb figure {
  width: 220px;
  height: 123px;
  padding: 0;
  margin: 0;
}

.lancamentos #freelac .content .posts .thumb figure img,
.lancamentos #light .content .posts .thumb figure img {
  width: 100%;
  height: 100%;
}

.lancamentos #freelac .content .posts .excerpt,
.lancamentos #light .content .posts .excerpt {
  left: 0;
}

.lancamentos #freelac .content .posts .excerpt p,
.lancamentos #light .content .posts .excerpt p {
  width: 210px;
  height: 53px;
  margin-top: 15px;
  margin-bottom: 21px;
  overflow: hidden;
  font-size: 14px;
}

.lancamentos #freelac .content .posts .leia-mais,
.lancamentos #light .content .posts .leia-mais {
  font-weight: bold;
  color: #fff;
}

.lancamentos #freelac .content .posts .leia-mais hr,
.lancamentos #light .content .posts .leia-mais hr {
  position: relative;
  top: -11px;
  border-top: 3px solid #fff;
}

.lancamentos #freelac .content .arrow,
.lancamentos #light .content .arrow {
  position: absolute;
  right: -40px;
  bottom: 180px;
}

.lancamentos #light {
  height: 786px;
  margin-top: 47px;
  background: url(../img/light.png) no-repeat;
  background-position: 520px 30px;
}

.lancamentos #light .content .leia-mais {
  color: #3f1b7f !important;
}

.lancamentos #light .content .leia-mais hr {
  border-top: 3px solid #f5d400 !important;
}

.lancamentos footer {
  height: 80px;
  margin-top: 0 !important;
  background: #f5d400;
}

.lancamentos footer .social {
  width: 76px;
  height: 100%;
  margin-top: 22px;
  margin-left: 9px;
}

.lancamentos footer p {
  margin-top: 27px;
}
