/* clear */
.clear:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; } .clear { display: inline-block; } html[xmlns] .clear { display: block; } * html .clear { height: 1%; }

@windowMaxWidth: 1903px;
@maxWidth: 1000px;
@fontPrincipal: 'PT Sans';
@areaWidth: 420px;
@homeContainerWidth: 940px;

.not-radius() {
	border-radius: 0;
	webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.reset-field() {
	padding: 0;
	border: 0;
	border-radius: 0;
	outline: 0;
	background-color: white;
}
.field() {
	.reset-field();
	width: 280px;
	height: 35px;
	margin: 0 0 3px 0;
	float: right;
}
.reset-nav() {
	li {
		a:hover {
			background-color: transparent;
		}
	}
}

blockquote { border: 0; }

/* Styles */
a {
	/* Links */
	&:link,
	&:active,
	&:visited,
	&:hover {
		color: #373435;
		text-decoration: none;
	}
}

ul {
	list-style: none;
}

body {
	margin: 0;
	padding: 0;
	overflow-y: visible;
	font-family: Arial;
}

i {
	display: block;
	min-width: 10px;
	min-height: 10px;
}
i.facebook,
a.face,
a.yt,
i.twitter,
i.youtube {
	width: 32px;
	height: 32px;
}
i.facebook { background: transparent url(../img/icon_face.png) no-repeat; }
a.face { background: transparent url(../img/icon-facebook.png) no-repeat; }
i.twitter { background: transparent url(../img/icon_twitter.png) no-repeat; }
i.youtube { background: transparent url(../img/icon_youtube.png) no-repeat; }
a.yt { background: transparent url(../img/icon-yt.png) no-repeat; }

.overflow {
	overflow: hidden;
}

.hidden {
	visibility: hidden;
}

.hide {
	display: none;
}

.show {
	display: none;
	visibility: visible;
}

.preload {
	background: #02426e;
}

.btn-leia {
	display: block;
	width: 29px;
	height: 31px;
	overflow: hidden;
	background: transparent url(../img/btn_leia_mais.png) no-repeat;
}

.btn-leia.max {
	width: 70px;
	height: 70px;
	background: transparent url(../img/btn_leia_mais_max.png) no-repeat;
}

.btn-like {
	display: block;
	width: 68px;
	height: 22px;
	overflow: hidden;
	background: transparent url(../img/btn_like.png) no-repeat;
}

.btn-tweet {
	display: block;
	width: 70px;
	height: 22px;
	overflow: hidden;
	background: transparent url(../img/btn_tweet.png) no-repeat;
}

.btn-cadastrar {
	padding: 10px 15px;
	border: 0;
	outline: 0;
	font: bold 24px @fontPrincipal;
	letter-spacing: -1px;
	color: white;
	background-color: #bede1f;
}

.loading {
	display: block;
	width: 170px;
	height: auto;
	padding: 90px 0 0;
	margin: 200px auto 0;
	font: normal 12px @fontPrincipal;
	text-transform: uppercase;
	text-indent: -5px;
	background-image: url(../img/bottle-milk.gif);
	background-position: center middle;
	background-repeat: no-repeat;
}

.field-group {
	position: relative;
	width: 215px;
	border: 1px solid silver;
	&, .btn {
		height: 35px;
		background-color: white;
	}
	.field {
		position: absolute;
		top: 0;
		left: 0;
		width: 185px;
		height: 24px;
		border: 0;
	}
	.btn {
		position: absolute;
		top: 0;
		right: 0;
		width: 30px;
		background-color: #b3d81a;
		span {
			margin: 6px -3px;
		}
	}
}

.seta {
	position: absolute;
	display: block;
	width: 14px;
	height: 22px;
	background-color: transparent;
	background-repeat: no-repeat;
	z-index: 5;
}
.seta.prev,
.seta.next { width: 14px; }
.seta.prev {		left: 0; }
.seta.next {		right: 0; }
.seta.prev {		background-image: url(../img/seta_prev_black.png);	}
.seta.next {		background-image: url(../img/seta_next_black.png);	}
.seta.blue.prev {	background-image: url(../img/seta_prev_blue.png);	}
.seta.blue.next {	background-image: url(../img/seta_next_blue.png);	}
.seta.white.prev {	background-image: url(../img/seta_prev_white.png);	}
.seta.white.next {	background-image: url(../img/seta_next_white.png);	}
.seta.brown.prev {	background-image: url(../img/seta_prev_brown.png);	}
.seta.brown.next {	background-image: url(../img/seta_next_brown.png);	}

.slideshow {
	position: relative;
	width: 100%;
	height: auto;
	.prev,
	.next { position: absolute; }
	ul,
	ul li { display: block; }
	ul {
		width: 100%;
		height: 100%;
		clear: both;
		li {
			min-width: 10px;
			min-height: 10px;
			float: left;
		}
	}
}

.form-horizontal {
	position: relative;
	width: 402px;
	height: 110px;
	clear: both;
	input {
		.field();
	}
	label {
		display: block;
		width: 101px;
		height: 23px;
		padding: 13px 13px 0 0;
		margin: 0;
		float: left;
		font: bold 11px @fontPrincipal;
		text-align: right;
	}
	button {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 5px 15px;
		border: 0;
		outline: 0;
		font: normal 11px @fontPrincipal;
		color: white;
		background-color: #4a351c;
	}
}

.form-vertical {
	&,
	.control-group,
	.control-label,
	.controls {
		width: 370px;
	}
	label {
		font: normal 11px/13px @fontPrincipal;
	}
	input,
	textarea {
		.field();
		width: 370px;
		margin: 0 0 5px;
	}
	textarea {
		height: 190px;
	}
	button {
		padding: 10px 20px;
		border: 0;
		margin: 0 0 0 130px;
		font: bold 26px @fontPrincipal;
		letter-spacing: -2px;
		color: #1e55a3;
		background-color: #ffc600;
	}
}

.area,
.area .container { width: @areaWidth; }
.area {
	> p,
	> h3 {
		text-align: right;
	}
	.container {
		padding: 15px 0 15px 15px;
		border: 3px solid white;
		p {
			font: normal 11px @fontPrincipal;
			text-align: center;
			color: black;
		}
	}
}

.carousel {
	.carousel-control {
		z-index: 1;
	}
	.seta {
		z-index: 1;
	}
}

#menu-nav {
	position: fixed;
	right: 10px;
	top: 40%;
	z-index: 2;
	li {
		position: relative;
		margin: 10px 0;
		float: none;
		span {
			position: absolute;
			top: -10px;
			right: 30px;
			display: none;
			width: auto;
			height: 30px;
			padding: 0px 6px;
			margin: 0px 0px 0px -160px;
			font: normal 12px/33px @fontPrincipal;
			text-transform: uppercase;
			text-align: right;
			background-color: #ccc;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
		}
		a {
			display: block;
			width: 10px;
			height: 10px;
			border: 5px solid white;
			text-indent: -8888px;
			border-radius: 15px;
			background-color: silver;
		}
		&:nth-child(1) { // Home
			span, a {
				text-shadow: 1px 1px 1px white;
				color: black;
				background-color: white;
			}
		}
		&:nth-child(2) { // História
			span, a {
				text-shadow: 1px 1px 1px white;
				color: black;
				background-color: #00F000;
			}
		}
		&:nth-child(3) { // Produtos
			span, a {
				text-shadow: 1px 1px 1px black;
				color: white;
				background-color: #CC2229;
			}
		}
		&:nth-child(4) { // Cooperativa
			span, a {
				text-shadow: 1px 1px 1px black;
				color: white;
				background-color: #8D6734;
			}
		}
		&:nth-child(5) { // Varejistas
			span, a {
				text-shadow: 1px 1px 1px black;
				color: white;
				background-color: #FF6C00;
			}
		}
		&:nth-child(6) { // Contato
			span, a {
				text-shadow: 1px 1px 1px black;
				color: white;
				background-color: #0080FF;
			}
		}
		&:hover {
			span {
				display: block;
			}
		}
	}
}

.produto {
	margin: 0 10px;
	float: left;
	figure, .info { float: left; }
	figure {
		width: 197px;
		height: 222px;
		margin: 0;
		overflow: hidden;
		border: 1px solid #b3d81a;
		img {
			width: 100%;
		}
	}
	h3 {
		float: left;
		font: bold 26px @fontPrincipal;
		color: #ff6000;
	}
	h4 {
		float: right;
		font: normal 17px @fontPrincipal;
		color: #b3d81a;
	}
	.info {
		margin: 0 0 50px 0;
		> .rows {
			width: 242px;
			height: 27px;
		}
	}
	table {
		width: 242px;
		td {
			padding: 3px;
			font: normal 17px @fontPrincipal;
			color: black;
		}
		.desc {
			font-weight: bold;
		}
		tr:nth-child(odd) { background-color: #f3ffc6; }
		tr:nth-child(even) { background-color: white; }
	}
	&.produto-box {
		@width: 215px;
		height: 250px;
		width: @width;
		margin-top: 50px;
		figure, .info {
			float: none;
		}
		h3, h4, .title {
			display: block;
			min-height: 42px;
			padding-top: 10px;
			border-top: 1px solid #E5E5E5;
			float: none;
			font: bold 16px @fontPrincipal;
			color: #ff6000;
		}
		figure {
			width: @width - 23px;
			height: 202px;
			padding: 10px;
			border: 1px solid fade(black, 5%);
			margin: 10px 0 0 0;
			img {
				display: block;
				width: auto;
				height: 100%;
				margin: 0 auto;
			}
			&:hover {	border: 1px solid fade(orange, 20%); }
			&:active {	border: 1px solid fade(orange, 40%); }
			&:visited { border: 1px solid fade(black, 10%); }
		}
		.info {
			margin: 0;
		}
	}
}

.jornal {
	width: 325px;
	margin: 25px 0 0 60px;
	h3,
	p {
		text-align: center;
		color: white;
	}
	.carousel {
		width: 280px;
		height: 110px;
		margin: 0 0 0 20px;
	}
	.carousel-inner {
		ul {
			margin: 0 10px 0 20px;
		}
		li {
			width: 30%;
			height: auto;
			margin: 0;
			float: left;
			& + li {
				margin-left: 5%;
			}
		}
		img {
			width: 100%;
			height: auto;
		}
		p {
			margin-top: 10px;
			text-align: center;
			color: #fff !important;
		}
	}
	.seta {
		top: 40px;
		width: 14px;
	}
	&.jornal-max {
		width: 900px;
		margin: 0 auto;
		.carousel-inner {
			width: 95%;
			margin: 0 auto;
		}
		.carousel {
			width: 810px;
			height: auto;
			margin-top: 20px;
		}
		li {
			width: 150px;
			height: auto;
			& + li {
				margin-left: 45px;
			}
		}
		p {
			color: #000 !important;
		}
	}
}

.corpo {
	position: relative;
	width: 100%;
	min-width: 1000px;
	height: auto;
	background-color: white;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center top;
	background-size: cover cover;
	.container {
		width: @homeContainerWidth;
		min-height: 1px;
		margin: 0 auto;
		header {
			height: 75px;
			margin: 0 auto;
			span {
				display: block;
				width: 167px;
				padding: 13px 0px 14px 23px;
				margin: 0 auto;
				font: bold 39px @fontPrincipal;
				letter-spacing: -3px;
				color: white;
				background-color: gray;
			}
		}
		.content {
			margin: 80px 0 0 0;
		}
	}
}

#main-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	ul {
		.reset-nav();
		width: 940px;
		height: 130px;
		margin: 0 auto;
		li {
			a {
				padding: 8px 33px;
				font: normal 15px @fontPrincipal;
				color: white;
			}
		}
		li.logo {
			a {
				padding: 0;
				margin: 0;
				img { height: 130px; }
			}
		}
	}
}

#gotas {
	position: absolute;
	top: 400px;
}

#mbox {
	position: absolute;
	left: 0;
	bottom: 50px;
	width: 100%;
	height: 650px;
	background-position: 50% 0;
	background-attachment: scroll;
}

#carousel-nav {
		position: absolute;
		bottom: 20px;
		left: 465px;
		clear: both;
		li,	a {
			height: 30px;
		}
		li {
			float: left;
			a {
				width: 30px;
			}
			a {
				display: block;
				overflow: hidden;
				background: transparent url( ../img/icon_lista_slideshow.png ) no-repeat;
			}
			.active { background: transparent url( ../img/icon_lista_slideshow_active.png ) no-repeat; }
		}
}

/* Footer, #footer */

body > footer {
	margin: 100px auto 0 auto;
	padding: 10px 0;
	background-color: #e1bc23;
	.span8 {
		margin: 10px 0 0 0;
		float: left;
		> a {
			padding: 0 10px;
			border-right: 2px solid white;
			margin: 20px 0;
			font: bold 13px @fontPrincipal;
			color: white;
		}
	}
	.span4 {
		width: 130px;
		float: right;
		.social {
			float: left;
			clear: both;
			a {
				margin: 0 5px;
				float: left;
			}
		}
	}
}

header.corpo {
	position: relative;
	width: 100%;
	height: 700px;
	overflow: hidden;
	background-image: url(../img/bg_home_header.jpg);
	background-attachment: scroll;
	background-position: center top;
	.wrap {
		position: relative;
		width: 1000px;
		height: auto;
		margin: 0 auto;
		z-index: 1;
		.container {
			position: relative;
			width: 1000px;
			.social {
				position: absolute;
				top: 80px;
				left: 27px;
				width: 136px;
				height: 92px;
				z-index: 1;
				&.right {
					right: 30px;
				}
				.facebook,
				.youtube {
					display: block;
					width: 68px;
					height: 92px;
					overflow: hidden;
					float: left;
				}
				.facebook {
					background: transparent url( ../img/icon_facebook_min.png ) no-repeat;
				}
				.youtube {
					background: transparent url( ../img/icon_youtube_min.png ) no-repeat;
				}
			}
			.sub-title {
				position: absolute;
				top: 386px;
				right: 91px;
				width: 225px;
				// height: 100px;
				padding: 20px 40px;
				font: normal 11px @fontPrincipal;
				text-align: right;
				color: white;
				background: url( ../img/bg_sub_titulo.png ) no-repeat;
				background-position: -10px 0;
				background-size: 320px 90px;
				text-shadow: 0px 0px 5px black;
			}
		}
	}
	.animation {
		position: absolute;
		bottom: 25px;
		width: 100%;
		height: 180px;
		overflow: hidden;
		img {
			width: 1920px;
			height: 180px;
		}
	}
}

#main {
	top: -80px;
	background-color: transparent;
	z-index: 1;
	.container {
		.rows {
			.blog {
				position: relative;
				height: 303px;
				margin: 0 0 40px 30px;
				header {
					width: 868px;
					height: 41px;
					margin: 0;
					h3 {
						width: 45px;
						padding: 10px 15px;
						font: bold 17px @fontPrincipal;
						text-transform: uppercase;
						color: white;
						background-color: #233e5d;
					}
				}
				.carousel {
					position: absolute;
					top: 41px;
					left: 0;
					height: 262px;
					padding: 0 20px 0 0;
					margin: 0;
					.seta { top: 150px; }
					.seta.prev { left: -30px; }
					.seta.next { right: -60px; }
					&,
					.carousel-inner { width: 868px; }
					.carousel-inner,
					.carousel-inner article { height: 262px; }
					.carousel-inner {
						position: absolute;
						margin: 0;
						&, .item {
							width: 868px;
							height: 262px;
						}
						.item {
							clear: both;
						}
						article {
							float: left;
							position: relative;
							&,
							figure { width: 217px; }
							h2 {
								padding: 0 17px;
								font: bold 17px/29px @fontPrincipal;
							}
							figure {
								&,
								a {
									display: block;
									overflow: hidden;
								}
								&,
								a,
								img {
									height: 130px;
									margin: 0 auto;
								}
							}
							.text {
								width: 161px;
								padding: 17px 28px;
								&,
								p {
									font: normal 11px/15px @fontPrincipal;
								}
								.leia {
									position: absolute;
									bottom: 0;
									right: 0;
									width: 29px;
									height: 31px;
									background: transparent url( ../img/btn_leia_mais.png ) no-repeat;
								}
							}
						}
					}
				}
				.pink {		background-color: #c8647c; }
				.green {	background-color: #b9d453; }
				.blue {		background-color: #83bbdb; }
				.orange {	background-color: #e58f2b; }
				.orange2 {	background-color: #f0a130;}
				.yellow {	background-color: #edc600;}
			}
			.span6 {
				margin: 0px 25px 40px;
				padding: 0;
				&,
				header,
				figure,
				aside { width: 420px; }
				header,
				figure,
				aside { margin: 10px 0; }
				header {
					position: static;
					height: auto;
					padding: 0;
					margin: 0;
					h4 {
						margin: 0 auto;
						font: bold 17px/25px @fontPrincipal;
						text-align: center;
						color: black;
					}
				}
				figure {
					&,
					a {
						width: 420px;
						height: 120px;
						overflow: hidden;
					}
				}
				aside {
					font: normal 11px @fontPrincipal;
					p { text-align: center; }
				}
				> .content {
					margin: 10px 0 0 0;
				}
			}
			.span6.produtos {}
			.span6.fazendas {}
			.span6.canal {}
			.span6.facebook {}
		}
		.rows.posts {
			height: 303px;
			margin: 0 0 40px;
			overflow: hidden;
		}
	}
}

#historia {
	height: 735px;
	background-image: url( ../img/bg_historia.jpg );
	.rows {
		width: 837px;
		padding: 85px 30px 0 73px;
		.logo {
			width: 320px;
			height: 295px;
			margin: 0 50px 0 0;
			img {
				width: 320px;
				height: auto;
			}
		}
		.tabs {
			width: 465px;
			height: auto;
			margin: 0;
			blockquote {
				margin: 0 0 10px;
			}
			ul {
				width: 465px;
				height: 42px;
				margin: 0 0 30px 0;
				border: 0;
				li {
					height: 42px;
					a {
						.not-radius();
						display: block;
						padding: 10px;
						border: 0;
						margin: 0;
						font: bold 18px @fontPrincipal;
						text-transform: uppercase;
						color: black;
					}
				}
				.blue {
					a { background-color: #61acec; }
				}
				.yellow {
					a { background-color: #fbf239; }
				}
				.dark-blue {
					a {
						background-color: #32348e;
						color: white;
					}
				}
			}
			.content {
				font: normal 12px/18px @fontPrincipal;
				color: black;
			}
		}
	}
} /* #historia */

#produtos {
	height: 730px;
	background-image: url( ../img/bg_produtos.jpg );
	background-repeat: repeat-x;
	.container {
		width: 867px;
		header {
			height: 75px;
			margin: 0 auto;
			span {
				display: block;
				width: 167px;
				margin: 0 auto;
				font: bold 39px @fontPrincipal;
				letter-spacing: -3px;
				color: white;
				background-color: #cc2229;
			}
		}
		.content {
			padding: 0;
			.span4 {
				width: 235px;
				margin: 0 20px;
			}
			> article {
				position: relative;
				height: auto;
				.seta.prev { left: 0; }
				.seta.prev,
				.seta.next { top: 280px; }
				.logo,
				img { height: 100px; }
				.logo {
					margin: 0 0 20px 0;
					img { margin: 0 auto; }
				}
				.content,
				.content li {
					display: block;
					height: 350px;
				}
				.carousel-inner {
					.item {
						> .figure {
							display: block;
							width: 195px;
							height: 200px;
							margin: 0 auto;
							overflow: hidden;
							img {
								display: block;
								height: 200px;
								margin: 0 auto;
							}
						}
						p {
							height: 120px;
							font: normal 12px @fontPrincipal;
						}
					}
				}
			}
			article.serramar {
				.logo {
					img { margin: 0 0 0 75px; }
				}
			}
			article.mix {
				.logo {
					img { margin: 0 0 0 60px; }
				}
			}
			article.maringa {
				.logo {
					img {
						height: 100px;
						margin: 0 0 0 80px;
					}
				}
			}
		}
	}
} /* #produtos */

#cooperativa {
	height: 720px;
	background-image: url( ../img/bg_cooperativa.jpg );
	background-size: cover;
	.container {
		width: 1000px;
		header {
			span {
				width: 213px;
				background-color: #4a361b;
			}
		}
		.span6 {
			h3 {
				font: bold 33px @fontPrincipal;
				color: #4a351c;
			}
			p {
				font: normal 11px @fontPrincipal;
				color: black;
			}
			.rows {
				h3, p {
					text-align: center;
				}
			}
			.posts,
			.posts li,
			.posts .figure { display: block; }
			.posts {
				height: 200px;
				margin: 0;
				li {
					height: 90px;
					margin: 0 0 20px 0;
					.span1,
					.span2 { margin: 0; }
					.span2 {
						width: 196px;
						height: 75px;
					}
					.figure {
						width: 114px;
						height: 90px;
						overflow: hidden;
						img { height: 90px; }
					}
					aside {
						position: relative;
						padding: 15px 15px 0 15px;
						p {
							font: normal 12px @fontPrincipal;
							text-align: left;
							color: white;
						}
						.btn-leia {
							position: absolute;
							bottom: 0;
							right: 0;
						}
					}
				}
				.dark { background-color: #211c19; }
				.light { background-color: #4a351c; }
			}
			.fazenda {
				width: 340px;
			}
			.produtor {
				display: none;
				width: 440px;
				h3 { text-align: center; }
				.container {
					width: @areaWidth;
					p, label { color: #4A361B; }
					p:first-child {
						font-weight: bold;
					}
				}
			}
			.jornal {
				width: 335px;
				h3, p {
					color: #4A361B;
				}
			}
		}
	}
	.rows.jornal {
		> h3,
		> p { color: white; }
	}
} /* #cooperativa */

#varejistas {
	height: 725px;
	background-image: url( ../img/bg_varejistas.jpg );
	.container {
		width: 1000px;
		header.rows {
			height: 45px;
			span { background-color: #ff6c00; }
		}
		.content {
			position: relative;
			height: 600px;
			.personagens {
				position: absolute;
				bottom: -20px;
				left: 210px;
			}
			.span6.cadastrar {
				width: 340px;
				margin: 0 100px 0 0;
				figure {
					display: block;
					width: 340px;
					height: 210px;
					margin: 0;
					overflow: hidden;
				}
				article {
					background: transparent url( ../img/bg_cadastrar.png ) no-repeat;
					width: 340px;
					height: 395px;
					color: white;
					p {
						padding: 25px;
					}
					.btn-cadastrar {
						margin: 0 0 0 25px;
					}
				}
			}
			.span6.restrito {
				display: none;
				width: 441px;
				.container {
					width: @areaWidth;
					background-color: #b4d91a;
					.form-horizontal {
						button {
							background-color: #ff8100;
						}
					}
				}
			}
			.span6.cadastre-se {
				width: 441px;
				.container {
					width: @areaWidth;
					background-color: #b4d91a;
				}
				.form-horizontal {
					display: block;
					height: 195px;
					clear: both;
					line-height: 30px;
					input{
						height: 30px;
					}
					label{
						padding-top: 10px; 
					}
				}
				button {
					background-color: #ff8100;
				}
			}
		}
	}
} /* #varejistas */

#contato {
	height: 100%;
	background-image: url( ../img/bg_contato.jpg );
	.container {
		color: white;
		figure {
			position: relative;
			top: -50px;
			width: 315px;
			height: 220px;
			margin: 0 auto;
		}
		.content {
			height: 500px;
			margin: 150px 0 0 0;
			.span6 {
				width: 370px;
				h3,
				p { margin: 15px 0; }
				h3 { font: bold 40px @fontPrincipal; }
				p {
					line-height: 19px;
					font-size: 12px;

				}
				.social {
					width: 120px;
					height: 32px;
					clear: both;
					a {
						display: block;
						width: 32px;
						height: 32px;
						margin: 0 5px 0 0;
						overflow: hidden;
						float: left;
					}
				}
			}
			.span6.fale {
				margin: 0 100px 0 0;
			}
		}
	}
} /* #contato */

/* Páginas internas */

body.interna {
	header.corpo {
		background-attachment: scroll;
	}
	> .container {
		margin: 0px auto 0 auto;
		.rows {
			h3 {
				margin: 0 0 20px 0;
				font: bold 36px @fontPrincipal;
			}
		}
	}
}

body.produtos {
	header.corpo{
		height: 400px;
		.wrap{
			.container{
				.sub-title{
					top: 215px;
				}
			}
		}
		.animation{
			bottom: 0;
		}
		
	}
}
body.fazendas {
	header.corpo {
		background-image: url(../img/bg_fazendas_header.jpg);
	}
	> .container {
		.rows {
			&, .figure, img {
				height: 275px;
			}
			width: 100%;
			margin: 0 0 70px;
			clear: both;
		}
		.cols {
			width: 420px;
			margin: 0 50px 0 0;
			float: left;
		}
		.figure {
			display: block;
			overflow: hidden;
			img { width: auto; }
		}
		h2 {
			margin: 0 0 25px;
			font: bold 40px/35px @fontPrincipal;
			color: #31490a;
		}
		p {
			font: normal 15px/20px @fontPrincipal;
			color: black;
		}
	}
	footer {
		background-color: #30470a;
	}
}

/* Página do Cooperador */

body.cooperador {
	header.corpo {
		background-image: url(../img/bg_cooperador_header.jpg);
		> .animation {
			bottom: 0 !important;
		}
	}
	> .container {
		margin: 0 auto;
		.jornal {
			h3,
			p { color: #4A351C; }
		}
	}
	.carousel {
		.seta { top: 60px; }
	}
	.capa {
		width: 100%;
		height: auto;
		&,
		img {
			width: 750px;
			margin: 60px auto 0 auto;
		}
	}
	h3.coop-title{
		text-align: center;
	}
}

body.varejistas {
	// Configurações gerais
	h3, h4, h5,
	.h3, .h4, .h5 {
		color: #ff6000;
	}
	h3 { font-size: 26px; }
	h4 { font-size: 18px; }
	h5 { font-size: 16px; }
	button {
		padding: 10px 15px;
		border: 0;
		font: normal 18px @fontPrincipal;
		color: white;
	}
	input {
		.reset-field();
		padding: 5px;
		border: 1px solid silver;
		font-size: 16px;
		color: #666;
		background-color: white;
	}
	table {
		font: normal 18px @fontPrincipal;
		.desc {
			font-weight: bold;
		}
	}
	.h3 { font-size: 26px; }
	.h4 { font-size: 18px; }
	.h5 { font-size: 16px; }
	.btn-orange { background-color: #ff6000; }
	.btn-green { background-color: #b3d81a; }

	header.corpo {
		background-image: url(../img/bg_varejistas_header.jpg);
	}

	> .container {
		font: normal 11px @fontPrincipal;
		.span6 {
			width: 450px;
		}
		.usuario {
			margin: 0 0 50px 0;
			float: right;
			font-size: 18px;
			color: black;
		}
		.catalogo {
			p { margin: 10px 0; }
		}
		.carrinho {
			margin: 0 0 40px 0;
			h4, .h4 {
				color: #b3d81a;
			}
			span {
				font: normal 12px @fontPrincipal;
				color: black;
			}
			button { margin: 2px 0; }
			.total, .valor {
				font: bold 18px @fontPrincipal;
			}
			.info {
				padding: 10px;
				border: 1px solid #b3d81a;
			}
		}
		// Adicionar produto
		.add {
			width: 400px;
			height: 100px;
			float: right;
			// Reset span's
			.span6, .span4 { margin: 0; }
			.span6 { margin: 0 20px 0 0; }

			h3 {
				margin: 0 0 30px 0;
				text-align: center;
			}
			h4 { color: black; }
			h4 { color: black; }
			h5, button {
				float: left;
			}
			.produto-add {
				&, h5 {
					width: 215px;
				}
			}
			.produto-quant {
				width: 50px;
				&, h5, input { width: 40px; }
				input { height: 25px; }
			}
			.enviar {
				width: 102px;
				margin: 0;
				button {
					margin: 18px 0 0 0;
					height: 37px;
				}
			}
			.dropdown-menu {
				display: none;
				width: 213px;
				font: normal 15px 'Myriad Pro';
				a { background-color: white; }
				a:hover {
					color: white;
					background-color: #b3d81a;
				}
			}
			.field-group {
				margin: 18px 0 0 0;
				.show { display: block; }
			}
		}
	}

	> footer {
		background-color: #ff6000;
	}
}

body.blog {
	header.corpo {
		margin: 0 0 100px 0;
		.wrap {
			z-index: 0;
		}
		#mbox {
			margin: 0 auto;
			&, .content {
				width: 940px;
			}
		}
		.social {
			left: 30px;
		}
	}

	.container {
		margin: 0 auto 100px auto;
		.search,
		.categorias {
			float: left;
		}
		.categorias {
			margin: 12px 0 0 0;
			li {
				margin: 0 10px 0 0;
				font: normal 18px @fontPrincipal;
				float: left;
				span {
					display: block;
					width: 15px;
					height: 15px;
					margin: 4px 5px 0 0;
					float: left;
					background-color: silver;
					&.pink {	background-color: #ff7597; }
					&.blue {	background-color: #83bbdb; }
					&.green {	background-color: #b9d453; }
					&.orange {	background-color: #e58f2b; }
				}
			}
		}
		.search {
			margin: 0px 0px 50px 170px;
			&, input {
				width: 260px;
				height: 45px;
				background-color: white;
			}
			label {
				display: block;
				margin: -45px 0px 0px 1px;
				color: silver;
			}
			input {
				.reset-field();
				border: 1px solid silver;
			}
			input, label { font: normal 20px @fontPrincipal; }
		}
		.span12 {
			margin: 0;
			.span8, .span4 {
				margin: 0;
			}
			// Conteudo
			.span8 {
				&, .post,
				header, .figure, .figure img {
					width: 642px;
				}
				.post {
					margin: 0 0 50px 0;
					header {
						&, h2 {
							font: bold 36px/60px @fontPrincipal;
							text-align: center;
						}
					}
					.figure {
						display: block;
						margin: 0;
						overflow: hidden;
						height: 290px;
					}
					p {
						font: normal 18px/27px @fontPrincipal;
						padding: 33px;
					}
					footer {
						width: 537px;
						position: relative;
						height: 45px;
						padding: 0 75px 13px 30px;
						clear: both;
						.social, .categorias {
							float: left;
						}
						.categorias {
							margin: 4px 0 0 230px;
						}
						.btn-leia {
							position: absolute;
							right: 0;
							bottom: 0;
						}
					}
					.social {
						height: 22px;
						clear: both;
						a {
							float: left;
							margin: 0 10px 0 0;
						}
					}
					.categorias {
						span {
							font: normal 18px/15px @fontPrincipal;
							&.categoria {
								font-weight: bold;
							}
						}
					}
					&.pink {	background-color: #ff7597; }
					&.blue {	background-color: #83bbdb; }
					&.green {	background-color: #b9d453; }
					&.orange {	background-color: #e58f2b; }
				}
			}
			// Sidebar
			.span4 {
				width: 260px;
				margin: 0 0 0 35px;
				border-left: 1px solid #274365;
				header {
					width: 260px;
					padding: 10px 0;
					font: bold 30px @fontPrincipal;
					text-align: center;
					color: white;
					background-color: #274365;
				}
				span, ul, li, a {
					font: normal 18px @fontPrincipal;
					text-decoration: none;
					color: #274365;
				}
				span, a { line-height: 18px; }
				.rows {
					float: none;
				}
				.content {
					margin: 20px 0;
				}
				.categorias {
					margin: 0;
					ul {
						margin: 0 0 0 30px;
						list-style: circle;
						li {
							float: none;
						}
					}
				}
				.facebook {
					.content {
						padding: 0 0 0 30px;
					}
				}
				.tags {
					.content {
						padding: 0 0 0 30px;
					}
				}
			}
		}
	}
}

.modal {
	width: 800px;
	left: 44%;
	.modal-body {
		max-height: 600px;
		.carousel {
			margin: 0;
			.carousel-inner {
				height: auto;
				.item {
					width: 100%;
					clear: both;
				}
			}
		}
		figure, table { float: left; }
		figure {
			display: block;
			width: 200px;
			min-height: 10px;
			height: auto;
			margin: 0 40px 0 40px;
			overflow: hidden;
		}
		img {
			display: block;
			margin: 0 auto;
		}
		table {
			width: 400px;
			tr {
				td:first-child {
					width: 30%;
				}
			}
		}
		.titulo { font-weight: bold; }
	}
	&.modal-product {
		font: normal 13px @fontPrincipal;
		.modal-body {
			figure {
				margin: 0;
			}
			table {
				width: 500px!important;
				margin-left: 15px;
				table{
					td{
						line-height: 8px;
						padding: 5px 10px;
						&:last-child{
							line-height: 15px;
						}
					}				
				}
			}
		}
	}
}

// Modal de Cadastro de Varejistas
#modal-varejistas {
	.modal-header, .modal-body, .modal-footer {
		border: 0;
		box-shadow: none;
		background-color: #B4D91A;
	}
	.modal-header {
		h3 {
			font: bold 39px @fontPrincipal;
			letter-spacing: -3px;
		}
	}
	.modal-body {
		padding: 15px 150px;
	}
	.btn-cadastrar {
		color: white;
		background-color: #FF8100;
	}
}

.modal-product {
	width: 850px;
	height: 500px;
	
	.modal-header,
	.modal-body,
	.modal-footer {
		border: 0;
		box-shadow: none;
		background-color: #B4D91A;
	}
	.modal-header {
		h3 {
			font: bold 39px @fontPrincipal;
			letter-spacing: -3px;
		}
	}
	.modal-body {
		table {
			tr:hover td {
				background-color: #B4D96A;
			}
		}
	}
	.btn-cadastrar {
		color: white;
		background-color: #FF8100;
	}
}

// Formulário de Cadastro de Varejistas
#form-varejistas {
	&, .control-label, input, textarea {
		// font: bold 12px @fontPrincipal;
	}
	input, textarea {
		border: 1px solid silver;
	}
	.control-label {
		width: 107px;
		float: center;
	}
}
.lancamentos{
	width: 960px !important;
	margin: 0 auto;
	header{
		background: url(../img/bg-topo.jpg) no-repeat;
		height: 510px;
		width: 960px;
		.left{
			float: left;
		}
		.social{
			top: 18px !important;
			left: 38px !important;
		}
		.logo{
			img{
				width: 188px;
				height: 122px;
				margin: 0 auto;
				position: relative;
				margin-left: 400px;
			}
		}
		.apresentacao{
			img{
				margin-top: 3px;
			}
		}
	}
	#freelac{
		position: relative;
		z-index: 2;
		background: #f0a130 url(../img/freelac.png) no-repeat;
		.content{
			float: right;
			margin-right: 40px;
		}
	}
	#freelac, #light{
		height: 664px;
		width: 960px;
		margin-left: -10px;
		.content{
			width: 486px;
			position: relative;
			.video{
				height: 363px;
				width: 100%;
				margin-top: 34px;
				margin-bottom: 25px;
				background-color: #fff;
			}
			.posts{
				:nth-child(2){
					position: relative;
					left: 17px
				}
				.thumb{
					figure{
						margin: 0;
						padding: 0;
						width: 220px;
						height: 123px;
						img{
							width: 100%;
							height: 100%;
						}
					}
				}
				.excerpt{
					left: 0;
					p{
						width: 210px;
						height: 53px;
						overflow: hidden;
						margin-bottom: 21px;
						margin-top: 15px;
						font-size: 14px;
					}
				}
				.leia-mais{
					color: #fff;
					font-weight: bold;
					hr{
						position: relative;
						top: -11px;
						border-top: 3px solid #fff;
					}
				}
			}
			.arrow{
				position: absolute;
				right: -40px;
				bottom: 180px;
			}
		}
	}
	#light{
		height: 786px;
		margin-top: 47px;
		background: url(../img/light.png) no-repeat;
		background-position: 520px 30px;
		.content{
			.leia-mais{
				color: #3f1b7f !important;
				hr{
					border-top: 3px solid #f5d400 !important;
				}
			}
		}
	}
	footer{
		margin-top: 0 !important;
		background: #f5d400;
		height: 80px;
		.social{
			height: 100%;
			margin-left: 9px;
			margin-top: 22px;
			width: 76px;
		}
		p{			
			margin-top: 27px;
		}
	}
}
