	<div id="modal-carousel-serramar" class="carousel slide">
		<a class="carousel-control left" href="#modal-carousel-serramar" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#modal-carousel-serramar" data-slide="next">&rsaquo;</a>
		<div class="carousel-inner">
			<div class="active item">
				<figure><img src="img/leite_min.png" alt=""></figure>
				<table class="table table-bordered">
					<tr>
						<td class="titulo">Nome</td>
						<td>Leite Min</td>
					</tr>
					<tr>
						<td class="titulo">Nome</td>
						<td>Leite Min</td>
					</tr>
					<tr>
						<td class="titulo">Nome</td>
						<td>Leite Min</td>
					</tr>
					<tr>
						<td class="titulo">Nome</td>
						<td>Leite Min</td>
					</tr>
					<tr>
						<td class="titulo">Nome</td>
						<td>Leite Min</td>
					</tr>
					<tr>
						<td class="titulo">Nome</td>
						<td>Leite Min</td>
					</tr>
					<tr>
						<td class="titulo">Nome</td>
						<td>Leite Min</td>
					</tr>
					<tr>
						<td class="titulo">Nome</td>
						<td>Leite Min</td>
					</tr>
				</table>
				</table>
			</div>
			<div class="item">
				<figure><img src="img/leite_min.png" alt=""></figure>
				<table class="table table-bordered">
					<tr>
						<td class="titulo">Nome</td>
						<td>Leite Min de 600ml</td>
					</tr>
					<tr>
						<td class="titulo">Nome</td>
						<td>Leite Min</td>
					</tr>
					<tr>
						<td class="titulo">Nome</td>
						<td>Leite Min</td>
					</tr>
					<tr>
						<td class="titulo">Nome</td>
						<td>Leite Min</td>
					</tr>
					<tr>
						<td class="titulo">Nome</td>
						<td>Leite Min</td>
					</tr>
					<tr>
						<td class="titulo">Nome</td>
						<td>Leite Min</td>
					</tr>
					<tr>
						<td class="titulo">Nome</td>
						<td>Leite Min</td>
					</tr>
					<tr>
						<td class="titulo">Nome</td>
						<td>Leite Min</td>
					</tr>
					<tr>
						<td class="titulo">Nome</td>
						<td>Leite Min</td>
					</tr>
					<tr>
						<td class="titulo">Nome</td>
						<td>Leite Min</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<script>
		$('.carousel').carousel();
	</script>