@import "less/bootstrap.less";

/* clear */
.clear:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; } .clear { display: inline-block; } html[xmlns] .clear { display: block; } * html .clear { height: 1%; }

@windowMaxWidth: 1903px;
@maxWidth: 1000px;
@fontPrincipal: 'PT Sans';
@areaWidth: 420px;
@homeContainerWidth: 940px;

.not-radius() {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.reset-field() {
	padding: 0;
	border: 0;
	border-radius: 0;
	outline: 0;
	background-color: white;
}
.field() {
	.reset-field();
	width: 280px;
	height: 35px;
	margin: 0 0 3px 0;
	float: right;
}
.reset-nav() {
	li {
		a:hover {
			background-color: transparent;
		}
	}
}

blockquote { border: 0; }

/* Styles */
a {
	/* Links */
	&:link,
	&:active,
	&:visited,
	&:hover {
		color: #373435;
		text-decoration: none;
	}
}

ul {
	list-style: none;
}

body {
	margin: 0;
	padding: 0;
	overflow-y: visible;
	font-family: Arial;
}

i {
	display: block;
	min-width: 10px;
	min-height: 10px;
}
i.facebook,
i.twitter,
i.youtube {
	width: 32px;
	height: 32px;
}
i.facebook { background: transparent url(img/icon_facebook.png) no-repeat; }
i.twitter { background: transparent url(img/icon_twitter.png) no-repeat; }
i.youtube { background: transparent url(img/icon_youtube.png) no-repeat; }

.btn-leia {
	display: block;
	width: 29px;
	height: 31px;
	overflow: hidden;
	background: transparent url(img/btn_leia_mais.png) no-repeat;
}

.btn-leia.max {
	width: 70px;
	height: 70px;
	background: transparent url(img/btn_leia_mais_max.png) no-repeat;
}

.fb-like {
	width: 60px;
	overflow: hidden;
}

.twitter-follow-button {
	margin: 0 0 2px 0;
}

.btn-cadastrar {
	padding: 10px 15px;
	border: 0;
	outline: 0;
	font: bold 24px @fontPrincipal;
	letter-spacing: -1px;
	color: white;
	background-color: #bede1f;
}

.field-group {
	position: relative;
	width: 215px;
	border: 1px solid silver;
	&, .btn {
		height: 35px;
		background-color: white;
	}
	.field {
		position: absolute;
		top: 0;
		left: 0;
		width: 185px;
		height: 24px;
		border: 0;
	}
	.btn {
		position: absolute;
		top: 0;
		right: 0;
		width: 30px;
		background-color: #b3d81a;
		span {
			margin: 6px -3px;
		}
	}
}

.seta {
	position: absolute;
	display: block;
	width: 14px;
	height: 22px;
	background-color: transparent;
	background-repeat: no-repeat;
	z-index: 5;
}
.seta.prev,
.seta.next { width: 14px; }
.seta.prev {		left: 0; }
.seta.next {		right: 0; }
.seta.prev {		background-image: url(img/seta_prev_black.png);	}
.seta.next {		background-image: url(img/seta_next_black.png);	}
.seta.blue.prev {	background-image: url(img/seta_prev_blue.png);	}
.seta.blue.next {	background-image: url(img/seta_next_blue.png);	}
.seta.white.prev {	background-image: url(img/seta_prev_white.png);	}
.seta.white.next {	background-image: url(img/seta_next_white.png);	}
.seta.brown.prev {	background-image: url(img/seta_prev_brown.png);	}
.seta.brown.next {	background-image: url(img/seta_next_brown.png);	}

.slideshow {
	position: relative;
	width: 100%;
	height: auto;
	.prev,
	.next { position: absolute; }
	ul,
	ul li { display: block; }
	ul {
		width: 100%;
		height: 100%;
		clear: both;
		li {
			min-width: 10px;
			min-height: 10px;
			float: left;
		}
	}
}

.form-horizontal {
	position: relative;
	width: 402px;
	height: 110px;
	clear: both;
	input {
		.field();
	}
	label {
		display: block;
		width: 101px;
		height: 23px;
		padding: 13px 13px 0 0;
		margin: 0;
		float: left;
		font: bold 11px @fontPrincipal;
		text-align: right;
	}
	button {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 5px 15px;
		border: 0;
		outline: 0;
		font: normal 11px @fontPrincipal;
		color: white;
		background-color: #4a351c;
	}
}

.form-vertical {
	&,
	.control-group,
	.control-label,
	.controls {
		width: 370px;
	}
	label {
		font: normal 11px/13px @fontPrincipal;
	}
	input,
	textarea {
		.field();
		width: 370px;
		margin: 0 0 5px;
	}
	textarea {
		height: 190px;
	}
	button {
		padding: 10px 20px;
		border: 0;
		margin: 0 0 0 130px;
		font: bold 26px @fontPrincipal;
		letter-spacing: -2px;
		color: #1e55a3;
		background-color: #ffc600;
	}
}

.area,
.area .container { width: @areaWidth; }
.area {
	> p,
	> h3 {
		text-align: right;
	}
	.container {
		padding: 15px 0 15px 15px;
		border: 3px solid white;
		p {
			font: normal 11px @fontPrincipal;
			text-align: center;
			color: black;
		}
	}
}

.page-error {
	h1 {
		font: normal 52px @fontPrincipal;
	}
}

.carousel {
	.carousel-control {
		z-index: 1;
	}
	.seta {
		z-index: 1;
	}
}

#loading {
	visibility: hidden;
	width: 100%;
	margin: 0 0 40px 0;
	&, img { height: 32px; }
	img {
		display: block;
		width: auto;
		margin: 0 0 0 230px;
	}
	img, p { float: left; }
	p { margin: 7px 0 0 0; }
}

#menu-nav {
	position: fixed;
	right: 10px;
	top: 40%;
	z-index: 2;
	li {
		margin: 10px 0;
		float: none;
		a {
			border-radius: 15px;
			display: block;
			width: 10px;
			height: 10px;
			border: 5px solid white;
			text-indent: -8888px;
			background-color: silver;
		}
		a[href*="historia"]		{ background-color: #00F000; }
		a[href*="produtos"]		{ background-color: #CC2229; }
		a[href*="cooperativa"]	{ background-color: #8D6734; }
		a[href*="varejistas"]	{ background-color: #FF6C00; }
		a[href*="contato"]		{ background-color: #0080FF; }
	}
}

.jornal {
	width: 325px;
	margin: 25px 0 0 60px;
	h3,
	p {
		text-align: center;
		color: white;
	}
	.carousel {
		width: 280px;
		margin: 0 0 0 20px;
		&,
		.item,
		.item > a,
		.item img,
		.carousel-inner { height: 110px; }
		.carousel-inner {
			margin: 0 0 0 20px;
			overflow: hidden;
			&,
			.item { clear: both; }
			&,
			.item { width: 255px; }
			.item {
				float: left;
				a,
				a img { width: 75px; }
				a {
					display: block;
					margin: 0 5px;
					float: left;
					overflow: hidden;
				}
			}
		}
		.seta {
			top: 40px;
			width: 14px;
		}
	}
	&.jornal-max {
		width: 900px;
		margin: 0 auto;
		.carousel {
			width: 810px;
			&,
			.item,
			.item > a,
			.item img,
			.carousel-inner { height: 149px; }
			.carousel-inner {
				&,
				.item { width: 785px; }
				.item {
					a,
					a img { width: 102px; }
				}
			}
		}
	}
}

.corpo {
	position: relative;
	width: 100%;
	min-width: 1000px;
	height: auto;
	background-color: white;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
	background-size: cover cover;
	.container {
		width: @homeContainerWidth;
		min-height: 1px;
		margin: 0 auto;
		header {
			height: 75px;
			margin: 0 auto;
			span {
				display: block;
				width: 167px;
				padding: 13px 0px 14px 23px;
				margin: 0 auto;
				font: bold 39px @fontPrincipal;
				letter-spacing: -3px;
				color: white;
				background-color: gray;
			}
		}
		.content {
			margin: 80px 0 0 0;
		}
	}
}

#main-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	ul {
		.reset-nav();
		width: 940px;
		height: 130px;
		margin: 0 auto;
		li {
			a {
				padding: 8px 33px;
				font: normal 15px @fontPrincipal;
				color: white;
			}
		}
		li.logo {
			a {
				padding: 0;
				margin: 0;
				img { height: 130px; }
			}
		}
	}
}

#gotas {
	position: absolute;
	top: 400px;
}

#mbox {
	position: relative;
	width: 1000px;
	height: 650px;
	.content {
		width: @maxWidth;
		height: 600px;
		overflow: hidden;
	}
}

#carousel-nav {
	position: absolute;
	bottom: -60px;
	left: 0px;
	width: 100%;
	clear: both;
	ul, li, a { height: 30px; }
	ul {
		width: 100px;
		margin: 0 auto;
	}
	li {
		float: left;
		a { width: 30px; }
		a {
			display: block;
			overflow: hidden;
			background: transparent url( img/icon_lista_slideshow.png ) no-repeat;
		}
		.active { background: transparent url( img/icon_lista_slideshow_active.png ) no-repeat; }
	}
}

/* Footer, #footer */

body > footer {
	margin: 100px auto 0 auto;
	padding: 10px 0;
	background-color: #e1bc23;
	.span8 {
		margin: 10px 0 0 0;
		float: left;
		> a {
			padding: 0 10px;
			border-right: 2px solid white;
			margin: 20px 0;
			font: bold 13px @fontPrincipal;
			color: white;
		}
	}
	.span4 {
		width: 130px;
		float: right;
		.social {
			float: left;
			clear: both;
			a {
				margin: 0 5px;
				float: left;
			}
		}
	}
}

header.corpo {
	position: relative;
	width: 100%;
	min-width: 1000px;
	height: 400px;
	overflow: hidden;
	margin: 0 0 50px 0;
	background-image: url( img/bg_home_header.jpg );
	.wrap {
		position: relative;
		width: 1000px;
		height: auto;
		margin: 0 auto;
		z-index: 1;
		.container {
			position: relative;
			width: 1000px;
			.social {
				position: absolute;
				top: 80px;
				width: 136px;
				height: 92px;
				z-index: 1;
				&.right {
					right: 30px;
				}
				.facebook,
				.youtube {
					display: block;
					width: 68px;
					height: 92px;
					overflow: hidden;
					float: left;
				}
				.facebook {
					background: transparent url( img/icon_facebook_min.png ) no-repeat;
				}
				.youtube {
					background: transparent url( img/icon_youtube_min.png ) no-repeat;
				}
			}
			.sub-title {
				position: absolute;
				top: 400px;
				right: 100px;
				width: 225px;
				height: 100px;
				font: normal 11px @fontPrincipal;
				text-align: right;
				color: white;
			}
		}
	}
	.animation {
		position: absolute;
		bottom: -100px;
		width: 100%;
		height: 180px;
		overflow: hidden;
		img {
			max-width: @windowMaxWidth;
			width: @windowMaxWidth;
			height: 180px;
		}
	}
}

#main {
	background-color: transparent;
	z-index: 1;
	.container {
		.rows {
			.blog {
				position: relative;
				height: 303px;
				margin: 0 0 40px 30px;
				header {
					width: 868px;
					height: 41px;
					margin: 0;
					h3 {
						width: 45px;
						padding: 10px 15px;
						font: bold 17px @fontPrincipal;
						text-transform: uppercase;
						color: white;
						background-color: #233e5d;
					}
				}
				.carousel {
					position: absolute;
					top: 41px;
					left: 0;
					height: 200px;
					padding: 0 20px 0 0;
					margin: 0;
					.seta { top: 150px; }
					.seta.prev { left: -30px; }
					.seta.next { right: -60px; }
					&,
					.carousel-inner { width: 868px; }
					.carousel-inner,
					.carousel-inner article { height: 262px; }
					.carousel-inner {
						position: absolute;
						margin: 0;
						&, .item {
							width: 868px;
							height: 262px;
						}
						.item {
							clear: both;
						}
						article {
							float: left;
							position: relative;
							&,
							figure { width: 217px; }
							h2 {
								padding: 0 17px;
								font: bold 17px/29px @fontPrincipal;
							}
							figure {
								&,
								a {
									display: block;
									overflow: hidden;
								}
								&,
								a,
								img {
									height: 130px;
									margin: 0 auto;
								}
							}
							.text {
								width: 161px;
								padding: 17px 28px;
								&,
								p {
									font: normal 11px/15px @fontPrincipal;
								}
								.leia {
									position: absolute;
									bottom: 0;
									right: 0;
									width: 29px;
									height: 31px;
									background: transparent url( img/btn_leia_mais.png ) no-repeat;
								}
							}
						}
					}
				}
				.pink {		background-color: #c8647c; }
				.green {	background-color: #b9d453; }
				.blue {		background-color: #83bbdb; }
				.orange {	background-color: #e58f2b; }
				.orange2 {	background-color: #f0a130;}
				.yellow {	background-color: #edc600;}
			}
			.span6 {
				margin: 0px 25px 40px;
				padding: 0;
				&,
				header,
				figure,
				aside { width: 420px; }
				header,
				figure,
				aside { margin: 10px 0; }
				header {
					position: static;
					height: auto;
					padding: 0;
					margin: 0;
					h4 {
						margin: 0 auto;
						font: bold 17px/25px @fontPrincipal;
						text-align: center;
						color: black;
					}
				}
				figure {
					&,
					a {
						width: 420px;
						height: 120px;
						overflow: hidden;
					}
				}
				aside {
					font: normal 11px @fontPrincipal;
					p { text-align: center; }
				}
			}
			.span6.produtos {}
			.span6.fazendas {}
			.span6.canal {}
			.span6.facebook {}
		}
		.rows.posts {
			height: 303px;
			margin: 0 0 40px;
			overflow: hidden;
		}
	}
}

body.blog {
	header.corpo {
		height: 470px;
		margin: 0 !important;
		background-size: auto 660px;
		.wrap {
			z-index: 0;
		}
		#mbox {
			margin: 0 auto;
			&, .content {
				width: 240px;
			}
		}
		.social {
			top: 48px !important;
			left: 30px;
		}
		#mbox {
			@width: 940px;
			@height: 200px;
			width: @width;
			height: @height;
			margin: 0 auto;
			.carousel-inner {
				width: @width;
				height: @height;
				margin: 140px 0 0 0;
				.item {
					width: @width;
					margin: 0 auto;
				}
			}
		}
		.animation {
			bottom: -10px;
		}
	}

	> .container {
		margin: 0 auto;
		.categorias {
			width: 680px;
			margin: 0 0 70px 0px;
			float: left;
			li {
				margin: 0 10px 0 0;
				font: normal 25px @fontPrincipal;
				float: left;
				span {
					display: block;
					width: 15px;
					height: 15px;
					margin: 9px 5px 0 0;
					float: left;
					background-color: silver;
					&.pink {	background-color: #ff7597; }
					&.blue {	background-color: #83bbdb; }
					&.green {	background-color: #b9d453; }
					&.orange {	background-color: #e58f2b; }
					&.yellow {	background-color: #edc600; }
					&.orange2 {	background-color: #f0a130; }
					// Cor default
					&.silver {	background-color: silver; }
				}
			}
		}
		.search {
			float: left;
			&, input {
				width: 260px;
				height: 45px;
				background-color: white;
			}
			label {
				display: block;
				margin: -35px 0px 0px 1px;
				color: silver;
			}
			input {
				.reset-field();
				margin: 0;
				border: 1px solid silver;
			}
			input, label { font: normal 20px @fontPrincipal; }
		}
		.span12 {
			margin: 0;
			.span8, .span4 {
				margin: 0;
			}
			// Conteudo
			.span8 {
				&, .post,
				header, .figure, .figure img {
					width: 642px;
				}
				.figure img { height: auto; }
				.post {
					margin: 0 0 50px 0;
					&.pink {	background-color: #ff7597; }
					&.blue {	background-color: #83bbdb; }
					&.green {	background-color: #b9d453; }
					&.orange {	background-color: #e58f2b; }
					&.orange2 {	background-color: #f0a130;}
					&.yellow {	background-color: #edc600;}
					&.silver {	background-color: silver; }
					header {
						&, h2 {
							font: bold 36px/60px @fontPrincipal;
							text-align: center;
						}
					}
					.figure {
						display: block;
						margin: 0;
						overflow: hidden;
						height: 290px;
						margin: 0 0 25px 0;
					}
					p {
						font: normal 18px/27px @fontPrincipal;
						padding: 0 33px;
					}
					footer {
						width: 537px;
						position: relative;
						height: 45px;
						padding: 25px 75px 13px 30px;
						clear: both;
						.social {
							float: left;
						}
						.categorias {
							width: auto;
							float: right;
						}
						.btn-leia {
							position: absolute;
							right: 0;
							bottom: 0;
						}
					}
					.social {
						height: 22px;
						clear: both;
						a {
							float: left;
							margin: 0 10px 0 0;
						}
					}
					.categorias {
						span {
							font: normal 18px/15px @fontPrincipal;
							&.categoria {
								font-weight: bold;
							}
						}
					}
				}
			}
			// Sidebar
			.span4 {
				width: 260px;
				margin: 0 0 0 35px;
				border-left: 1px solid #274365;
				header {
					width: 260px;
					padding: 10px 0;
					font: bold 30px @fontPrincipal;
					text-align: center;
					color: white;
					background-color: #274365;
				}
				span, ul, li, a {
					font: normal 18px @fontPrincipal;
					text-decoration: none;
					color: #274365;
				}
				span, a { line-height: 18px; }
				.rows {
					float: none;
				}
				.content {
					margin: 20px 0;
				}
				.categorias {
					width: auto;
					margin: 0;
					ul {
						margin: 0 0 0 30px;
						list-style: circle;
						li {
							float: none;
						}
					}
				}
				.facebook {
					.content {
						padding: 0 0 0 30px;
					}
				}
				.tags {
					.content {
						padding: 0 0 0 30px;
					}
				}
			}
		}
	}
}

body > .modal {
	width: 800px;
	left: 44%;
	.modal-body {
		.carousel {
			margin: 0;
			.carousel-inner {
				height: auto;
				.item {
					width: 100%;
					clear: both;
					figure, table { float: left; }
					figure {
						display: block;
						width: 200px;
						height: auto;
						margin: 0 40px 0 40px;
						overflow: hidden;
					}
					img {
						display: block;
						margin: 0 auto;
					}
					table {
						width: 400px;
					}
					.titulo { font-weight: bold; }
				}
			}
		}
	}
}