<h2 class="offset7">Serramar Laticinios</h2>
<div class="well span3 offset7">
<?php
echo "<h2>Painel de Controle</h2>";
echo $this->Form->create('User', array('action'=>'login'));
echo $this->Form->input('username', array('label'=>'Login','class'=>'span3'));
echo $this->Form->input('password', array('label'=>'Senha','class'=>'span3'));
echo $this->Form->end('Entrar');
?>
</div>