<?php
 $img = $this->webroot .'files'.DS.'newspapper'.DS.'picture'.DS.$last['Newspapper']['picture_path'].DS.$last['Newspapper']['picture'];
 ?>
<div class="rows jornal jornal-max">
			<h3>O Cooperador - Jornal</h3>
			<p>
				Leia as últimas edições do jornal O Cooperador.
			</p>
			<?php echo $this->Element('Newspapper/newspapper-all');?>
		</div>
<div class="capa">
	<?=$last['Newspapper']['code'];?>
</div>
<h3 class="coop-title"><?=$last['Newspapper']['title'];?></h3>